[2017-04-06 16:40] brh55 opened #2 "Add support for rotation"
- On screen changes or rotation, the column resizing should reflect this new layout

[2017-04-06 16:42] brh55 opened #3 "Add TouchableHighlight Support"
- If user provides a `props.onPress`, the image should invoke the props onPress function with the object in the data array

[2017-04-06 16:42] brh55 opened #4 "Add multiple column support"
Let users specify # of columns

[2017-04-14 23:57] #4 closed

[2017-04-16 00:15] brh55 opened #5 "Add props to define priority arrangement"
An API could look something like such:
### `props.priority` or `props.arrangement`:
- `order` / `ascending` - **Default**: Placement occurs in sequence (1, 2, 3)
- `vertical` - Looks at which column has the least vertical height, and position "brick" within that column
- `reverse` / `descending` - reverse placement in column (3, 2, 1)

[2017-04-19 19:40] brh55 commented on #3
Merged with #6

[2017-04-19 19:40] #3 closed

[2017-04-19 19:40] brh55 commented on #2
Merged with #6

[2017-04-19 19:40] #2 closed

[2017-04-19 19:49] brh55 opened #7 "Add key to column rendering"
To provide a stable identity within the columns by default bricks should have id's associated with them, use the URI as a last resort key for each entry.

**Spec:**
- Add an id for each "brick"

[2017-04-19 19:59] brh55 opened #8 "Add gutterSize props"
Allow for adjustment of the gutter size of the columns.

**Specs:**
- By specifying `masonry.props.gutterSize`, it should alter the spacing between the columns

**Validation Steps:**
- Add a significant gutterSize
- Columns should re-render with large spacing

[2017-04-19 23:11] brh55 opened #9 "Change child "Row" component to "Column""
As it stands, it doesn't make much sense to call it a "row", when it's actually representing a "column".

**Specs:**
- Rename `<Row/>` to `<Column/>`

**Validation:**
- Search for `Row`, no matches should be found

[2017-04-20 08:35] brh55 opened #10 "Add coveralls"
**Spec:**
- Integrate coveralls within repository
- Include coveralls badge on the readme

**Validation:**
- Coveralls badge should be populated with code coverage %
- Coveralls page should be available

[2017-04-20 08:41] brh55 opened #11 "Replace _ _ with _ for "private" functions"
Out of pure habit -- too much BEM --, "private" functions within components are using double _ (underscores). However, based on typical javascript convention, replace with single _.

**Spec:**
- Replace __ with _ for "private" func/var

**Validation:**
- Should not be any more __ prepended to a "private" func/var

[2017-04-22 02:49] brh55 opened #12 "Provide lazily load images"
Currently, the main caveat of this implementation is fetching the dimensions and passing it to the <Row /> component. This requires all images to be defined before passing into Row, making it only as efficient as `N` images.

*Specs*:
- Update the row in sequence as the images arrive, if the image in sequence aren't fetched yet, let's pause and do a batch update until it is ready.

*Verification:*

[2017-05-02 06:43] #11 closed

[2017-05-02 06:43] brh55 commented on #9
Will be reflected in v0.1.0

[2017-05-02 06:43] #9 closed

[2017-05-02 06:44] brh55 commented on #7
In v0.1.0

[2017-05-02 06:44] #7 closed

[2017-05-02 06:44] brh55 commented on #12
Handled in v0.1.0

[2017-05-02 06:44] #12 closed

[2017-05-02 17:56] brh55 opened #13 "Create usable example, with GIF of a demo"
**Spec:**
- Create a working usable demo with a GIF provided on the readme

**Validate:**
- Example directory contains a working directory that can easily run.

[2017-05-02 18:02] brh55 opened #14 "Bug fix"
**BUG:**
- rowHasChanged(r1, r2) -- r1 and r2 are equal despite clones from previous state
- if we can determine why the row changes are inputting equivalent parameters, we can utilize an equal check against URIs to prevent unnecessary ListView re-renders.

**Reproduce:**
- Insert a 4+ bricks with remote URIs
- Log R1, R2 within the rowHasChanged function, `r1 === r2` // True

**Validate**
- r1 ==

[2017-05-03 08:43] brh55 commented on #14
#15 - Resolved

[2017-05-03 08:43] #14 closed

[2017-05-03 08:43] brh55 commented on #13
#15  - Resolved

[2017-05-03 08:43] #13 closed

[2017-05-03 15:56] brh55 opened #16 "Remote images"
👎  Looks like I may have missed it during development of v0.1.0.

Feature:
- Allow remote images to be passed through

Validate:
- Pass in a remote image, it should load in the columns

[2017-05-04 20:06] dazziola commented on #16
Does this mean the example is void? I had a look through your code and it appears that you are indeed using uri in the source prop of the Image component:

        <Image
            key={image.uri}
            source={{ uri: image.uri }}
            resizeMethod='auto'
            style={{ width: image.width, height: image.height, marginTop: gutter }} />

Just trying to get it running myself with

[2017-05-04 20:30] brh55 commented on #16
@dazziola
Ahh my apologies, I meant to put "local" images. But yes, remote images will work. Let me know if you are having issues with getting it to work.

[2017-05-04 20:42] dazziola commented on #16
Hmmm, I'm having a weird non-descript problem. I'm using the data block of images as per your example with two columns, however they're not rendering in the simulator or on a physical device.

[2017-05-04 20:45] brh55 commented on #16
@dazziola What version of RN and React are you running?

[2017-05-04 20:46] dazziola commented on #16
"react-native": "0.43.3",
"react": "16.0.0-alpha.6",

[2017-05-04 20:58] brh55 commented on #16
@dazziola
Hmm I just ran a fresh install of the example, no issues currently. Are your images HTTPS or HTTP?  If you are on IOS, by default IOS causes non-secure images to fail (https://github.com/facebook/react-native/issues/8520).

[2017-05-04 21:09] dazziola commented on #16
I've cloned the example and you're right, it works perfectly. Hmmm, I'll mess around with my one and see if I can figure out what it is. Thanks for the prompt responses! If it's anything other than my own silly oversight, I'll be sure to post it here for future people!

[2017-05-04 21:15] brh55 commented on #16
@dazziola
Absolutely! Please let me know what the issue was, maybe we can clear up or improve the readme 👍 .

[2017-05-06 03:43] brh55 opened #17 "Fix resolveBrick() to this.resolveBricks()"
Reproduction steps:
- Pass in images props.bricks, later after Masonry is already mounted
- Masonry will issue a warning that resolveBricks is not found, this is because resolveBricks is a method within Masonry.

[2017-05-06 03:51] brh55 commented on #17
Resolved in v0.1.1.

[2017-05-06 03:51] #17 closed

[2017-05-09 08:52] sarangan opened #19 "add title to image"
is there anyway we can add captions for images? thanks

[2017-05-09 09:06] #19 closed

[2017-05-09 17:20] brh55 commented on #19
Hey @sarangan ,
Currently no way to add captions for images, is there a particular layout you want the captions you are trying to accomplished? Maybe we can see if we can implement something you are looking for.

[2017-05-10 02:27] sarangan commented on #19
Hi, thanks a lot for your reply. I was trying to achieve like Pinterest kinda layout images with captions, then I thought it would be out of scope. this component works great compare to other components out there. i can inject Text components inside the Column.js when rendering the Image in that way i can alter the layout. you are the best. thank you again. keep rocking bro.

[2017-05-10 06:01] sarangan commented on #19
Hi one more question, does this mansory component affect performance compare to regular Images load from url?

[2017-05-10 06:16] brh55 commented on #19
@sarangan It's using [Image.getSize](https://facebook.github.io/react-native/docs/image.html) under the hood. Naturally the performance overhead is downloading the image -> caching it -> displaying it on screen with correct sizing. I would assume the overhead is very much similar to using `<Image>` with resize set to cover.

[2017-05-10 06:17] brh55 commented on #19
Also appreciate the kind words 🤘 , you keep on rocking too!

[2017-05-10 06:23] sarangan commented on #19
Thanks bro 👍

[2017-05-12 18:53] cinder92 opened #20 "Is there any way to render a custom component instead an image?"
Hello i just say this plugin only accept images, is there any way to implemente custom components?

[2017-05-12 21:56] brh55 commented on #20
Hey @cinder92 , currently there isn't a way to implement custom components. If your components don't have images, nested within, then it's easily accomplishable using a combination of `width %` and `justify-contents: space-in-between`. When you add images into the remote pictures into the equation it's a little difficult.

[2017-05-12 21:59] cinder92 commented on #20
its a combination of text with remote images, i just tried to edit your plugin, but its a little bit difficult

[2017-05-12 22:09] brh55 commented on #20
@cinder92 , Yeah that is rather difficult, and something I haven't come up with a solution for yet. You could try a combination of a parent view (acting as a container)  and `resizeMode` set to cover or contain on the image.

Unfortunately, I would need to investigate a little further and experiment. If you do come up with a working implementation, we can road map that into this project. 💃

[2017-05-13 22:28] brh55 commented on #20
Going to close for now.

[2017-05-18 06:49] brh55 opened #21 "Add container style"
Currently react-native-masonry is under the assumption that the view isn't going to be constrained by padding around it's component main view. However, any padding will result in incorrect calculations of image dimensions. To fix this, dynamically pass the parents available dimensions to the columns to use as a base measurement.

Validate:
- Add padding around Masonry component
- It should render

[2017-05-21 21:54] brh55 commented on #21
Oppose to having a container prop, users should wrap the component with their own view as the grid is already transparent, and it supports padding offsets.

[2017-05-21 21:54] #21 closed

[2017-05-26 01:13] brh55 commented on #16
Still currently trying to resolve this issue without the need to require a local image prop or something like that. Ideally I want the users to be able to set `{ uri: localFilePath }`, which currently resolves to a number -- I believe is the id within the asset manager. If anyone knows, please lmk!

[2017-05-26 15:02] brh55 opened #24 "Add renderHeader and renderFooter"
This allows users to add captions and style around the image itself. Currently working in branch `render-header-footer`, expecting to release sometime next week after proper testing is in place.

[2017-05-26 15:16] brh55 commented on #20
@cinder92 Currently have a working implementation on the ability to render footer and header components on branch `render-footer-header`. But it's not fully tested yet, and I need to do some reorganization for prop checking, however, I expect sometime next week I'll have it done and stable.

<img width="186" alt="screen shot 2017-05-26 at 8 14 13 am" src="https://cloud.githubusercontent.com/assets

[2017-05-27 06:14] neo125874 commented on #3
@brh55 hi, didn't figure out how to put the onPress method? and if the data array could add other attribute? like: `[{uri: 'xxx.jpg', id: 'db-id-xxx'}, {uri: 'yyy.jpg', id: 'db-id-yyy'}, ...]`
then, get the custom attribute(id) from the onPress method?

thanks

[2017-05-29 09:03] brh55 commented on #3
@neo125874 Hey your on press would look like this:
[code]

[2017-05-29 10:42] neo125874 commented on #3
@brh55 thanks for your answering, could i set the press method one time? or i have to set every object a key-attribute?

[2017-05-29 18:09] brh55 commented on #3
You would need to set it every time. As you most likely know, I would recommend setting function as a variable like such:
[code]

[2017-06-07 00:39] brh55 commented on #24
#25 Closed

[2017-06-07 00:39] #24 closed

[2017-06-07 14:08] brh55 commented on #20
Merged into master

[2017-06-07 14:08] #20 closed

[2017-06-07 14:08] #10 closed

[2017-06-09 06:10] cinder92 commented on #20
thanks a lot! i will test it!

[2017-06-21 17:07] fxfactorial commented on #16
@brh55 Well why are you assuming    `  source={{ uri: image.uri }}`, I wouldn't do that. Just let the user pass whatever, you're just a front for the Image API

[2017-06-21 17:14] brh55 commented on #16
@fxfactorial Would work, but then local images wouldn't be able to leverage other properties such as `onPress, renderHeader, renderFooter`.

[2017-06-21 17:15] fxfactorial commented on #16
@brh55 How so?

[2017-06-21 17:33] brh55 commented on #16
@fxfactorial  I'm assuming you are referring to users passing in react elements like
`bricks = [<Image source={require('../asset1.jpg')} />, <Image source={uri: 'http://image.com/url1.jpg' } />]`?

[2017-06-21 17:34] fxfactorial commented on #16
Hmm, I wasn't but that seems like a fine solution as well.

[2017-06-21 17:36] brh55 commented on #16
Ahh what other way are you referring to?

[2017-06-21 17:37] fxfactorial commented on #16
`bricks = [{img: require('../asset1.jpg')}, {img: {uri: 'https:....'}}]`

I mean, just a front for the source prop of Image.

[2017-06-21 17:48] brh55 commented on #16
OHH yeah that should work, I'm not sure why I was having issues before.

[2017-06-21 17:53] fxfactorial opened #27 "Simplified example renders nothing"
I have a suspicion you are assuming existence of the header/footer as your example builds/runs but when I try my simplified code I get nothing rendered.

[code]

[2017-06-21 18:13] brh55 commented on #27
Odd it will display if you wrap the masonry with a scrollview. I'm assuming it has to do with the listview.rowHasChanged method.

![image](https://user-images.githubusercontent.com/6020066/27399594-e9e47ebe-5682-11e7-9633-3f72a5267a0e.png)

[code]

[2017-06-21 18:14] fxfactorial commented on #27
@brh55 Masonry isn't a ScrollView already? I would say it should be right?

[2017-06-21 18:22] brh55 commented on #27
@fxfactorial going to take a bit of time as not familiar with FlatList but will try to give it a whirl

[2017-06-21 18:22] fxfactorial commented on #27
@brh55 its a simplified API, easier to work with.

Thanks for quick replies :)

[2017-06-21 18:26] brh55 commented on #27
@fxfactorial No problem, thanks for the reports! Will need to get back to work unfortunately lol.

[2017-06-21 18:32] brh55 opened #28 "Migrate to FlatList"
As title explains, I will try to get to this when I have time  (3 - 4 weeks), but open for grabs as well.

[2017-06-21 18:58] fxfactorial commented on #16
@brh55  actually now I'm thinking, should end user provide their own Image component, or whatever view they give. For example, what if I wanted to use this: https://github.com/oblador/react-native-image-progress

[2017-06-21 20:17] fxfactorial commented on #27
@brh55 also, I'm noticing that some times images render and sometimes they don't. Not sure if somehow related RNM.

[2017-06-21 20:27] brh55 commented on #27
Hmm any console warnings? RNM will let you know if it failed to load the image, and it will skip the brick entirely.

[2017-06-21 20:28] fxfactorial commented on #27
No, none, would have mentioned it.

[2017-06-21 20:36] fxfactorial commented on #16
How do you mean to overload?

[2017-06-21 20:40] brh55 commented on #27
Let me see if I can try to reproduce the issue, do you have the image urls?

[2017-06-21 20:40] fxfactorial commented on #28
Would need to bump up a min requirement, which I think is fine to do in this fast moving environment.

[2017-06-21 20:41] fxfactorial commented on #27
ya, same ones I was using in that original example

[2017-06-21 20:48] brh55 commented on #16
Ah let me rephrase that -- I think it would be neat if you could use a custom image component, and it's probably possible.

By having a property that could allow users to pass a component for RNM to use in rendering process instead of the default image component  -- assuming the third-party component had `source` as a property.

[2017-06-21 20:49] fxfactorial commented on #16
right, definitely some room for generalization

[2017-06-21 20:51] brh55 commented on #16
Indeed, theoretically it should work.

[2017-06-21 20:52] brh55 opened #29 "Add custom image component property"
Without being restricted to the default react-native <Image>, allow users to pass in their own for layout purposes:

IE: https://github.com/oblador/react-native-image-progress

**Support:**
- A property to that is passed to the component as well <Image ...property>

[2017-06-21 20:55] fxfactorial commented on #27
@brh55
![indeterminate](https://user-images.githubusercontent.com/3036816/27406254-323e6520-5689-11e7-8025-238186ecf0e9.gif)

[2017-06-21 20:57] brh55 commented on #28
Shouldn't be **too** bad.

[2017-06-21 21:03] brh55 commented on #27
Hmm... looks to be with the listview. Looks like listview is rendering the first row with an empty set of images, but not refreshing it's state when the images are fetched.

[2017-06-21 21:12] fxfactorial commented on #27
all the more reason to move to FlatList :)

[2017-06-21 21:26] brh55 commented on #27
@fxfactorial Haha it can't be avoided I suppose

[2017-07-12 09:34] srameshr commented on #28
Is this done? ListView is daunting.

[2017-07-12 10:01] srameshr opened #30 "The order in which images are rendered is not ordered"
Here is the screenshot: [https://ibb.co/eEVsFF](https://ibb.co/eEVsFF)
[code]

If this is the data, images are rendered in a single column.

Also the images are not ordered according to the array of data source.

[2017-07-12 10:40] srameshr commented on #27
@brh55 +1 for the FlatList. ListView as it stands is intimidating. Also the images are not rendered in order. How about images should compulsory render according the the image id or any other key from left to right?

[2017-07-12 15:15] brh55 commented on #30
Currently they are pushed into the columns as soon as they are rendered, hence why things may be out of order, but this could be fixed. Going to label as bug.

[2017-07-12 16:45] srameshr commented on #30
@brh55 Nice to hear that! It happens on images of particular size. If I add this image [https://image.shutterstock.com/z/stock-photo-collage-of-happy-family-resting-at-home-103862393.jpg](https://image.shutterstock.com/z/stock-photo-collage-of-happy-family-resting-at-home-103862393.jpg) at the first position in the array to the existing app, it renders at the end.

Images should be rendered accord

[2017-07-12 17:28] brh55 commented on #30
Indeed, that would most likely be the expected outcome. You are more than welcome to tackle this in a PR :), you would just need to adjust a few lines in the image resolve function to "insert" into the columns oppose to pushing to top of the list.

Sorry, I would do this, but been a bit busy with life / and some what code burnt lately.

[2017-07-12 17:47] srameshr commented on #30
@brh55 I totally understand! I will give it a try.

[2017-07-12 19:44] brh55 commented on #30
Pretty much! 🤓

[2017-07-17 07:05] aravindhrbt opened #31 "Increase space between Bricks"
Hi,
 Is there any way to increase space around bricks i.e space between/around each bricks.

masonry column = 2
I tried by changing  column.js file
const gutterBase = width / 100;
const gutterSize = gutterBase * 5;

it creates gap between 2 column but the image inside the column is not shown fully.
---Help Wanted.

[2017-07-17 16:01] brh55 commented on #31
Do you have screenshots?
You are right to increase the multiplier, that is how I would increase spacing around bricks.

[2017-07-18 12:49] arunkrishna39 opened #32 "How will i do a pagination or lazy loading?"

[2017-07-18 15:57] brh55 commented on #32
Hey @arunkrishna39, Sorry I don't have either functionality implemented, but I do plan on implementing Lazy Loading when my current application development process is at this stage.

[2017-07-22 11:35] srameshr commented on #32
@brh55 Eagerly waiting!

[2017-07-22 11:52] srameshr commented on #5
@brh55 Is this in progress?

[2017-07-23 00:31] brh55 commented on #5
Not currently, some of these options do require a bit of work to develop. Open for grabs.

[2017-07-23 09:08] srameshr commented on #5
@brh55 Its not ordering by default as of now.

[2017-07-24 09:18] aravindhrbt commented on #31
Hi @brh55

 i got some workaround to get space between cells

by editing _resizeByColumns function,
[code]
and also i included margin vertical to 7 for brick content
and resizeMode='contain' in image
[code]

this thing helps me to come up with a solution for my scenario. may be helpful to someone who need this.

[2017-07-24 09:31] aravindhrbt commented on #31
Hi @brh55

i faced one issue (not sure may i need some help)
i have 2 api call each returns 25 object i format the object for passing it to masonry view

[code]

[code]

so on 1st api call i have 25 object for bricks (eg:[a,b,c,....]) (i logged brickdata value in render method) and after 2nd api call success i have 50 objects for bricks (eg:[a,b,c,....,1,2,3]),
but in ui, i have repeated data from

[2017-07-27 05:15] brh55 commented on #28
@srameshr Per docs masonry layouts *(different heights)* are not supported, so if I went with a flatlist + numColumns approach. Judging by the rendered outcomes as it appears a <view> wraps each element in a horizontal row, and proceeds to stack additional wrapped views.

[2017-07-27 07:29] srameshr commented on #28
@brh55 Agreed.

[2017-07-29 13:37] narychen opened #33 "Performance Issue"
I read the code and found the row of ListView is just used as masonry column.
If there are three column on your masonry there will be only three rows in the ListView.
The ListView or ScrollView will remove the views of images out of vision and keep the memory low.
But here it has only limited rows of columns.
As the image number grows your column view will become bigger and bigger and at last it w

[2017-07-29 17:29] brh55 commented on #33
Hey @narychen great timing on this issue as I'm working on v0.3.0. So I see what your saying and I definitely agree you. I've been thinking about how to improve upon this for` v0.3.0` with the use of `FlatList` and it would be nice to get your thoughts a new proposed implementation, and if you have any other opinions on the implementation.

My current proposed implementation is the use of multiple

[2017-07-30 03:59] narychen commented on #33
Multiple <FlatList> each will have its own scrollView. If you have three columns you will be able to scroll on three columns. How will solve this?

[2017-08-12 15:55] srameshr commented on #33
```If you have three columns you will be able to scroll on three columns``` Definitely don't want that.

[2017-08-16 00:58] narychen commented on #33
As from the react-native document 'removeClippedSubView is not belong only to ListView or ScrollView but the basic View.
Here is the document from the View
[code]
So we may build the View contains the subviews with overflow:hidden and removeClippedSubviews set to true. It may be work for the performance issue.
I don't have time to experiment this. Will @brh55 the creator of this project be so kind

[2017-08-16 07:10] brh55 commented on #33
@narychen
Per suggestion with `removeClippedSubviews` + overflow: hidden, it was still loading all of the bricks on initial loading. This is due to `removeClippedSubviews` lazily loading rows, but as the problem with react-native-masonry, "rows" are intentionally designed as columns, this allows different dimensions.
*In Example*
[code]

So I'm now that I'm using `FlatList` oppose to a typical `Vi

[2017-08-16 07:40] srameshr commented on #33
@brh55 I will give it a try. And also infinite loading and maintaining a source order, as listed here:
https://github.com/brh55/react-native-masonry/issues/30
https://github.com/brh55/react-native-masonry/issues/32

[2017-08-16 17:43] brh55 commented on #31
@aravindhrbt can you re-open ticket with description if you are having same issue. Going to close this to help others who be having spacing issues.

[2017-08-16 17:43] #31 closed

[2017-08-16 17:44] brh55 commented on #28
Tied to #33 . Currently in review.

[2017-08-16 17:44] #28 closed

[2017-08-18 22:32] deadcoder0904 opened #34 "Add FastImage instead of Image"
[FastImage](https://github.com/DylanVann/react-native-fast-image) has benefits over normal React Native Image so please use it by default

[2017-08-19 17:58] brh55 commented on #34
Excellent! Will give it a whirl

[2017-09-01 04:26] tuananhdtu opened #35 "Load image not show"
When the first load screen, masonry load image for two column.
But the second and the 3th, masonry load image for left column or right colum

![0-sa-d2-75dad76b98f466399a91fc9d7411d81a](https://user-images.githubusercontent.com/2296411/29955220-60c2d9f0-8f08-11e7-8a3f-e631ab393e6a.jpg)
![0-sa-d3-35c05dd610a524aa08d0e22ee11b9b36](https://user-images.githubusercontent.com/2296411/29955221-61dd8bf0-8

[2017-09-01 17:54] brh55 commented on #35
Do you have code sample?

[2017-09-01 22:40] kmcgill88 opened #36 "Header and Footer not rendering"
Great library! The demo shots in README show a header and footer for one, which I'm interested in. I started playing with it and realized the header and footer are not being rendered. I ran it locally as well as tried the Expo demo. I am a RN n00b but will see if I can't figure it out. The only warning I saw so far was:
<img width="370" alt="screen shot 2017-09-01 at 5 21 13 pm" src="https://user-

[2017-09-01 22:46] brh55 commented on #36
Hey @kmcgill88, do you have a code sample of the data being passed to the component?

[2017-09-01 23:01] kmcgill88 commented on #36
Its the same as your demo, I just cloned. I just confirmed this isn't rendering on the Android emulator either.

[code]

[2017-09-01 23:03] kmcgill88 commented on #36
I'm using:

NPM: 5.3.0
 with same dependencies you have in your package.json
[code]

All I did is clone, cd to `example` folder and read `npm install` then `react-native run-ios`

[2017-09-02 03:56] brh55 commented on #36
Use react-native-masonary ^v0.2.0, the render header and footer was implemented v0.2.0+. Also could use a PR to fix the packagr.json file 🙂

[2017-09-02 20:47] kmcgill88 commented on #36
@brh55 PR #37 should do the trick. Thanks!

[2017-09-02 21:34] brh55 commented on #36
@kmcgill88 Thanks!

[2017-09-02 21:34] #36 closed

[2017-09-03 13:50] kmcgill88 commented on #30
I'm interested in this functionality and am looking forward to 0.3.0. I can try get it done if you're looking for help.

[2017-09-05 01:38] brh55 commented on #30
@kmcgill88 You should def try to tackle this! Looking for additional maintainers, as I'm not currently using RN-Masonry for my current project, just maintaining it on the side.

[2017-09-05 02:00] kmcgill88 commented on #30
@brh55 I'm actually taking a crack at it right now. I'm new to react-native so I'm struggling my way through.

[2017-09-05 02:01] kmcgill88 commented on #33
@brh55 How is progress on this?

[2017-09-05 02:09] brh55 commented on #33
@kmcgill88 needs to some additional user testing, but implemented on v0.3.0 branch

[2017-09-05 02:14] kmcgill88 commented on #33
@brh55 I can give it a go and let ya know.

[2017-09-06 03:56] kmcgill88 commented on #33
I think you should open a PR for this branch. Might be easier to discuss.
<img width="373" alt="screen shot 2017-09-05 at 10 52 26 pm" src="https://user-images.githubusercontent.com/1992370/30093795-5b4f2b62-928d-11e7-92dd-055a8055f747.png">

I think you are missing this on the flat list, https://facebook.github.io/react-native/docs/flatlist.html#keyextractor

[2017-09-06 04:02] brh55 commented on #33
@kmcgill88 Yeah I realize this as I was going through the code just now. Might have gotten carried away working on resolving local asset support.

[2017-09-06 04:32] #30 closed

[2017-09-07 10:32] srameshr commented on #32
@brh55 Now that masonry implements ```flatlist```, we should have this feature with ```onEndReached``` and ```ListFooterComponent``` right?

[2017-09-07 13:44] kmcgill88 commented on #32
@srameshr I believe the answer is no, not yet. @brh55's implementation of `FlatList` has not been merged yet. See #39

[2017-09-07 17:09] srameshr opened #41 "The layout is broken -- kind of"
Here is a screenshot:

![screen shot 2017-09-07 at 10 48 56 pm](https://user-images.githubusercontent.com/8149408/30176092-d0c046aa-941e-11e7-89a3-53df56b9d9a6.png)

**Sometimes the columns are a miss**
![screen shot 2017-09-07 at 11 58 41 pm](https://user-images.githubusercontent.com/8149408/30179125-ef564b8c-9428-11e7-9c9c-68d0ba3f038f.png)

These quirk happen sometimes on navigation. When I nav

[2017-09-08 23:07] kmcgill88 opened #42 "Column widths not updated after rotation"
To reproduce:
1. Start app and rotate from portrait to landscape
2. one column will not be updated while in landscape
3. Rotate back to portrait and things are fine.

If you are in landscape and toggle a different column size and toggle back to the original size of 2 and continue to rotate things appear to be fine.

I need this functionality and will work on it.

![simulator screen shot sep 3 2017

[2017-09-09 23:26] brh55 commented on #41
Are the indexs not inserting into the right columns?

[2017-09-09 23:26] brh55 commented on #41
Doesn't currently account for height, this would be something that is added as a functionality in #5

[2017-09-10 07:21] srameshr commented on #41
@brh55 Sometimes it does not insert into the right columns. Sometimes it does. This bug breaks the whole point to Masonry sometimes.

[2017-09-10 19:46] #27 closed

[2017-09-11 05:40] brh55 commented on #16
Per suggestions, there is still some underlying bundling that is occurring not allowing it to work as imagined technically. Going to leave this open, and welcomed for anyone to try and come up with a viable solution.

[2017-09-11 16:54] brh55 opened #44 "Add advance usage examples in Readme"
For v0.4.0 the custom image component is for advance usage, and should include additional examples.

Pull into branch v0.4.0

[2017-09-12 04:07] srameshr commented on #33
@brh55 Will the FlatList merge solve this https://github.com/brh55/react-native-masonry/issues/41?

[2017-09-12 16:03] brh55 commented on #41
FlatList will not fix this issue, technically #38 should of fixed this

[2017-09-12 18:10] srameshr commented on #41
@brh55 I am using the sorted option. But still this issue exists. All the screenshots i have posted here use the ```sorted``` option.

[2017-09-14 10:00] srameshr commented on #44
@brh55 Could you please merge FlatList and  custom image component into the main branch?

[2017-09-14 10:32] zanisis commented on #41
yes my issue is same. sometimes image not showing . if i close page and come back again my image will be show. i using with react navigation

[2017-09-14 18:28] brh55 commented on #44
I was looking into consolidating everything yesterday and replacing the `ListView`. Definitely some issues still with using `FlatList` as a parent wrapper, so I've put that into it's own experimental branch for now. I'll look into doing a bit more testing tonight, and merge in.

[2017-09-14 18:35] kmcgill88 commented on #44
Sounds like a good plan!

[2017-09-14 18:48] srameshr commented on #44
@brh55 Eagerly waiting! I desperately need pull to refresh for now.

[2017-09-14 19:56] brh55 commented on #44
@srameshr you can test out the existing branch by pulling the repository into a directory link it (`npm link`). Then in your project symlink it with  `npm link react-native-masonry`.

[2017-09-15 07:07] brh55 commented on #34
This is now available in the latest release of `react-native-masonry` 👍

[2017-09-15 07:07] #34 closed

[2017-09-15 07:08] #44 closed

[2017-09-15 07:08] brh55 commented on #33
Performance updates now merged into the latest release (^0.4.0) of react-native-masonry 👍

[2017-09-15 07:08] #33 closed

[2017-09-15 07:46] srameshr opened #48 "0.4.0 breaks when onPress is attached"
[code]
This is in version 0.4.0

Here is my component code:
[code]

It worked fine on 0.3.0

[2017-09-15 08:07] srameshr commented on #48
I figured it out. The child for ```<TouchableHighlight>``` should be a ``` immediate native component``` and can have only one child. Il send a PR.

[2017-09-15 08:37] narychen commented on #33
@brh55  You are welcome.

[2017-09-15 09:35] srameshr commented on #48
Il keep it in reopened state, until its been merged.

[2017-09-15 17:23] srameshr commented on #42
@kmcgill88 How do I contact you?

[2017-09-17 04:48] wassgha commented on #35
Having the same problem! A dirty fix is to refresh the component after images have been loaded (I do it by settings columns to `this.state.column` and calling `setState({column: 2})` after a timeout). Please fix :)

[2017-09-19 23:29] zanisis opened #50 "when i using customImageComponent(FastImage) just show border 'red'"
My ScreenShoot
<img width="313" alt="screen shot 2017-09-20 at 6 24 29 am" src="https://user-images.githubusercontent.com/25142795/30620001-f1678bc2-9dcc-11e7-94d7-b06faea6a90b.png">

My Code
`<View style={{flex: 1, flexGrow: 10, marginTop: 4}}>
     <Masonry
       sorted
       bricks={this.state.originImg}
       columns={this.state.columns}
       customImageComponent={FastImage}
       custom

[2017-09-20 06:24] brh55 commented on #50
Did you install FastImage and run `$npm link react-native-fast-image`? Afterwards, you need to restart the bundler

[2017-09-20 16:20] zanisis commented on #50
already using react-native link

my package.json
[code]

my code
[code]

[2017-09-20 19:36] brh55 commented on #50
@zanisis I would recommend recompiling the project, since FastImage is a native-dep module. `$ react-native run-ios`

[2017-09-21 12:32] zanisis commented on #50
i try running on ios maybe on android not supported but on ios is still same only show border red not showing image

[2017-09-21 16:41] brh55 commented on #50
Please run without `customImageComponent` and tell me if it renders properly

[2017-09-25 10:26] soukupl opened #51 "[VirtualizedList] - Warning: Each child in an array or iterator should have a unique "key" prop."
Hello,
there is a warning in render method of VirtualizedList. Not sure if this is your problem... I wasn't able to find it in code yet. It may be a problem of one of the dependencies... Can you please look at it?
It's only a warning, but still... :)

`
Warning: Each child in an array or iterator should have a unique "key" prop.

Check the render method of `VirtualizedList`. See https://fb.me/reac

[2017-09-25 17:32] brh55 commented on #51
@soukupl Shouldn't be too hard to fix. I can see if I can apply a fix to this

[2017-09-25 21:00] soukupl commented on #51
@brh55 Well... I was able to track it down to _keyExtractor function in [Column.js on line 117](https://github.com/brh55/react-native-masonry/blob/master/components/Column.js#L117).

Your code is `_keyExtractor = item => item.id || item.key;`

It stops raising warnings after changing it to `_keyExtractor = item => { return "image-key-" + (item.index || item.key); };`

for some reason, `_keyExtract

[2017-09-25 21:23] brh55 commented on #51
` _keyExtractor = item => item.index || item.key` probably isn't working because the bricks don't have `id` or a `key` causing a bunch of "undefined" keys.

I would probably suggest `id` first, `key` second, and `uri` as the last resort, something like: `_keyExtractor = item => (item.index || item.key || item.uri)`? -- *this is assuming that you wouldn't want duplicated images*.

The problem with

[2017-09-25 22:07] soukupl commented on #51
Yes, the best solution might be some kind of image id (specified in the config array with image, it can be called simply id) and if not present maybe hashed uri (as uri probably can't be a key, or can it). The (optional) image id would solve the problem if you want to have duplicate image uris.

Can try to make something tomorrow and I will post here my new _keyExtractor (or I can make pull reques

[2017-09-25 22:56] brh55 commented on #51
Indeed, well we can also state that a user must add an `id` or `key` property if they plan on rendering duplicated images. Hence, it would go for id or key first, then fall back to uri as a default (any string can be a key 😸 ).

[2017-09-26 08:51] srameshr commented on #51
@brh55 I do add unique key and also a unique id for every record. But it still shows up.

[2017-09-26 08:53] #48 closed

[2017-09-26 08:55] srameshr commented on #32
@kmcgill88 Flatlist has been merged, but the ```FlatList``` has been wrapped by a ```ListView``` which has been deprecated.

[2017-09-26 08:57] srameshr commented on #41
@brh55 Any progress on this?

[2017-09-26 11:48] soukupl commented on #51
ok, so I now have this:

`_keyExtractor = item => "IMAGE-KEY-" + item.uri + "---" + (item.data.key ? item.data.key : "0");`

URI of the image is used as primary key, with optional "key" from config...

`
<Masonry
  bricks=[
    { uri: 'http://image1.jpg', key: 'image01' },
    { uri: 'http://image2.jpg', key: 'image02' },
    { uri: 'http://image3.jpg' }
  ]
/>
`

resulting to keys like (long imag

[2017-09-26 13:13] srameshr commented on #51
@soukupl Any idea why it happens on refresh.

[2017-09-26 18:07] brh55 commented on #51
@soukupl I think that solution works well, it's rather consistent behavior. I don't see why you should be having any issues with refresh now with:
`_keyExtractor = item => "IMAGE-KEY-" + item.uri + "---" + (item.data.key ? item.data.key : "0")`

[2017-09-26 18:09] #29 closed

[2017-09-26 18:27] soukupl commented on #51
@brh55 seem to work for me to. Should I make a pull request or will you push the change with your next update?

[2017-09-26 18:34] brh55 commented on #51
@soukupl Feel free to PR :), also need to do the following:
- Bump current package patch number up
- Add additional property in readme under brick table to explain `key` (you can import the table and edit here: http://www.tablesgenerator.com/markdown_tables)

[2017-09-26 18:36] soukupl commented on #51
@srameshr did you update the [Column.js](https://github.com/brh55/react-native-masonry/blob/master/components/Column.js#L117) on line 117 with my new _keyExtractor function?

I can do some more tests later to see if there may be a problem with updating the bricks configuration on the fly. Maybe there is an point in time when old and new configuration exists at the same time somewhere inside...

[2017-09-27 04:02] vvavepacket commented on #35
@wassgha im also experiencing same issue and trying your dirty fix.  what is the initial value of your this.state.column? did u set an initial state? i tried setting it initially as 1 (screen showed 1 column,) and then after some time delay, it rerendered now showing 2 columns... not the behavior i wanted(user can see columns changing from 1 to 2).. :(

[2017-09-27 04:15] wassgha commented on #35
@vvavepacket that is what I have right now except probably with a smaller delay (I have 1 second). In my case, it might have helped that the images I'm loading are remote so when the state is set to one row the images probably haven't loaded yet so I can't see them.

[2017-09-27 04:33] vvavepacket opened #53 "passing image dimensions internally"
Lets say we are fetching 100 images. and then let us say i have the data for those image dimensions (ill be creating an API that exposes the image dimensions, that would be much faster than downloading the image and then examining the dimensions once fully downloaded). is there any way i can pass those image dimensions internally so that this module will load faster? (please correct my understandi

[2017-09-27 04:45] vvavepacket commented on #32
@srameshr do you think that if we add our own implementation in FlatList's onEndReached() and onRefresh(), we could do ininite scroll/pagination out of the box?

[2017-09-27 04:53] srameshr commented on #32
What I am doing right now is, passing refresh component to ListView.
Can you do a FlatList rewrite of the ListView implementation under Masonry.js

[2017-09-27 11:47] vvavepacket opened #54 "making images show rounded corners"
Where is the best way in this library to make images have rounded corners?

[https://imgur.com/a/xEoKs](https://imgur.com/a/xEoKs)

[2017-09-27 13:04] srameshr commented on #51
@soukupl Tried it. Its still the same. I don't know whats the problem here. Could you try it?
To avoid that problem im refreshing the whole screen with:
[code]

[2017-09-27 17:30] brh55 commented on #54
@vvavepacket You should be able to add border radius properties to `imageContainerStyle`

[2017-09-27 17:35] brh55 commented on #53
That feature currently doesn't exist, but fortunately it wouldn't be too hard to implement. The fetching image dimension logic is managed through the `model.js` file.
So it would just be a matter of checking if the data already contains a dimensions property, and if so return the data as is.

[2017-09-27 17:37] brh55 commented on #32
I've done a FlatList rewrite within the experiment branch -- it works, but not efficiently. Looks to be some sort of delay with the re-render time.

[2017-09-29 05:49] priyankverma opened #55 "All images are not rendered at once."
Number of columns is 2, only one side of the images are rendered sometimes, re-rendering the component fixes the issue for some while, please provide a better solution.

[2017-10-01 17:33] vvavepacket commented on #32
guys, I dig deep into the code, and saw that FlatList is present inside Column.js (master branch). Now, I tried to add methods like onEndReached(). I noticed it is called during rendering when images are loading.. But if I try to manually scroll down, it doesn't get called. Any idea what to do so we can have FlatList's onEndReached() method works to enable pagination?

[2017-10-01 18:47] srameshr opened #56 "Render is really slow"
Initial render, with a data of just 1 or 2 elements is extremely slow.

[2017-10-01 19:05] srameshr commented on #55
Same here!

[2017-10-02 00:31] vvavepacket commented on #32
@brh55 can you confirm that FlatList rewrite is only for 0.3.x version?
@srameshr do you mean to create a FlatList rewrite for the master/0.4.x/latest one?

[2017-10-02 03:25] brh55 commented on #55
Anyway we can duplicate this configuration. Access to the codebase or a sample codebase that replicates this bug would be greatly appreciated.

[2017-10-02 03:57] srameshr commented on #32
@brh55 I am on the master branch and there is an big delay during inital rendering.

There are two things here:
1. These is a ListView inside Masonry.js
2. There **WAS** list view inside Column.js but now it has been converted to flat list.

I am guessing that the ListView inside Masonry.js is responsible for the terrible rendering time.

[2017-10-02 04:06] srameshr commented on #55
@brh55 https://github.com/brh55/react-native-masonry/issues/41 This is what the issue is and the component code for that is mentioned in the issue.

[2017-10-02 05:37] priyankverma commented on #55
I tried using setTimeout for resetting the contents in the state, it worked for some time, but isn't the permanent solution to the problem.

[2017-10-02 17:09] brh55 commented on #41
@srameshr Start by removing the scroll view wrapper and flex styles. Probably won't fix the issue, but you shouldn't need that anymore with the latest v0.4.0.

[2017-10-02 17:10] brh55 commented on #41
@srameshr is this happening with a nested view within a navigation component, or does it also happen when it is on it's own. I only ask because I don't see these issues with the updated demo).

[2017-10-02 17:13] brh55 commented on #32
If ListView is responsible then it's most likely the dataSource diff function. A quick way to check this is with removing line 19 + 42 in masonry, and replacing rowHasChanged with returning true and seeing if perhaps this is where the issue may lie.

[2017-10-02 17:13] brh55 commented on #32
@srameshr Could you give that a try on your app, and see if you notice any improvements?

[2017-10-03 03:29] srameshr commented on #41
@brh55 Yes it happens with the nested view with react native navigation component. My current app does not have a scrollview wrapper.

[2017-10-03 03:40] srameshr commented on #41
Nope! Its still the same. It takes 15 seconds to render just one image.

[2017-10-03 03:40] srameshr commented on #32
@brh55 Nope! Its still the same. It takes 15 seconds to render just one image.

[2017-10-03 03:48] srameshr commented on #32
@brh55 I got it. I think its because of the remote images. If I serve it with static images, it renders in a flash but when the images are remote, it takes 15 seconds at minimum.
I'm assuming its because you are calculating the dimensions of the image before rendering.
Is it possible to just render the grid with minimumHeight and then insert images after it has been downloaded and the dimensions a

[2017-10-03 12:29] #56 closed

[2017-10-03 12:30] srameshr commented on #56
This was a mistake on my servers

[2017-10-03 12:31] srameshr commented on #51
Did anyone try this?

[2017-10-03 16:15] brh55 commented on #32
What are your image sizes? It's deceiving on the apps and this component because they are resizing, but good role of thumb is 300kb or less.

[2017-10-03 16:21] srameshr commented on #32
2.7 MB 😝
Im using a resizer now!

[2017-10-03 16:22] brh55 commented on #32
@srameshr best way to kill my bandwidth 🗡

[2017-10-03 16:23] srameshr commented on #32
@brh55 Sorry for that. Il make sure I cross verify before posting an issue.

[2017-10-03 16:25] brh55 commented on #32
@srameshr  haha no worries

[2017-10-03 16:36] vvavepacket commented on #32
Were you guys able to implement pagination by using flatlist's onRefresh/onEndReached() methods?

[2017-10-03 16:40] srameshr commented on #32
@vvavepacket Since the Masonry.js file still has ListView, I do something like https://github.com/brh55/react-native-masonry/issues/51.
See the last but one comment in that.

[2017-10-03 17:27] vvavepacket commented on #32
@srameshr i see that #51 is for pull to refresh. Did you tried about doing continous loading, like when user reaches bottom of list, the flatlist will continosuly fetch new data and add it?

[2017-10-03 17:33] srameshr commented on #32
No, I have not yet tried that. But hopefully by the time I need it, ListView gets replaced by FlatList under masonry which supports InfinteLoading and Pull to refresh.

[2017-10-03 17:35] srameshr commented on #41
@brh55 This issue still exists regardless of any changes to image size.

[2017-10-03 17:37] brh55 commented on #54
@vvavepacket has this been solved?

[2017-10-03 17:37] #54 closed

[2017-10-03 17:38] brh55 commented on #50
Closing issue, hopefully it should be working now 👯‍♂️

[2017-10-03 17:38] #50 closed

[2017-10-03 17:40] srameshr commented on #32
![ezgif-4-2810d897af](https://user-images.githubusercontent.com/8149408/31139636-cf706264-a88f-11e7-95bd-bdaceaca88b9.gif)
@brh55 I think the elements in the grid that are not downloaded should have an empty placeholder at least with a loading icon. See the demo attached. After I refresh the view, the GIF that is in the second position is not rendered until its completely loaded.

[2017-10-03 18:02] brh55 commented on #41
Yeah this is most likely with the rowHasChanged function, can you try to just return true by default. And see if this fixes the issue

[2017-10-03 22:30] vvavepacket commented on #54
@brh55  i added the border radius properties but it is not taking effect on Android.. Other people have this worked on iOS, but not android. Have u tried the same on Android? Thank you.

[2017-10-03 22:32] vvavepacket commented on #54
@brh55   Can we reopen the issue? Thank you.

[2017-10-04 05:17] srameshr commented on #41
@brh55 No, its not working and there is a big problem. Since most of the time (not always) it renders only one column regardless of what the column size is, Apple is rejecting my build saying that the app is not optimised to take up the full screen.

![screen shot 2017-10-04 at 10 41 44 am](https://user-images.githubusercontent.com/8149408/31160789-bcad98c0-a8f0-11e7-900c-5eb8581a5061.png)

This i

[2017-10-04 20:00] brh55 commented on #41
Were you having these issues with v0.3.0 or after the flatlist changes?

[2017-10-04 20:28] srameshr commented on #41
I don't remember! I dug through the code and I was not able to figure out exactly where and how the insert into column logic is written. Could you help me out with that, so that I can try to fix it.

[2017-10-04 21:05] brh55 commented on #41
Insert into column is at Masonry.js LOC 134. as well as assigning a column number at LOC 12.

[2017-10-04 23:21] SoldierCorp opened #59 "Can render views instead images?"

[2017-10-05 17:16] brh55 commented on #59
Technically no, the only reason is because rendering a masonry with just views is relatively easy to implement. This repository, however, includes additional code to handle and manage the images to ensure they fit perfectly, which isn't too easy to do.

That's not to say if this a particular use case that is desired, it does fall along the scope

[2017-10-06 01:46] brh55 commented on #41
@srameshr if you can email me, and perhaps give me access to your codebase (or a similarly set up codebase) it will make it significantly easier for me to narrow down the cause of this issue

[2017-10-06 03:24] srameshr commented on #41
@brh55 Your email?

[2017-10-06 08:43] kesha-antonov commented on #32
Hello guys!
How's it going?

Is it possible now to do ```loadMoreResults``` on ```onEndReached```?

[2017-10-06 15:49] brh55 commented on #41
@srameshr  brandonhim@live.com

[2017-10-07 14:18] srameshr commented on #41
@brh55 I dropped you a mail.

[2017-10-13 18:53] #8 closed

[2017-10-13 18:54] #51 closed

[2017-10-13 18:55] srameshr commented on #51
@brh55 This issue still exists as I showed you last time.

[2017-10-13 18:58] brh55 commented on #51
@srameshr this exist with the hot fix we did for your project. Shouldn't exist in the current branch

[2017-10-13 19:00] srameshr commented on #51
@brh55 No, it exists without the hot fix. Just try to do something like pull to refresh on Masonry. All the duplicate warnings show up.

[2017-10-13 19:01] brh55 opened #61 "Layout Issues When Dynamically Adding Data"
As @srameshr pointed out, there is issues when the data is added.

This probably has to do with `masonry.js` willReceiveNextProps and how masonry does some internal caching to prevent re-resolving bricks. Will need to investigate and figure out what the issue is.

[2017-10-13 19:02] brh55 commented on #51
@srameshr That is due to dynamic data being added most likely, created a separate issue to handle this.

[2017-10-13 19:09] srameshr opened #62 "Render the content header, footer and placeholder before the actual image renders"
Love react-native-masonry? Please consider supporting our collective:
👉  https://opencollective.com/react-native-masonry/donate ❤️

There is a considerable delay between ```Masonry``` being called and the actual content being rendered.
This occurs even on most light weight data, such as 20 masonry images with each being no more than 200kb and in spite of using FastImage.
Hence, corresponding featu

[2017-10-13 20:47] brh55 commented on #62
Have you tried something like: https://github.com/oblador/react-native-image-progress

[2017-10-14 07:50] srameshr commented on #62
My point is render the masonry header, footer and some fixed height placeholder between them so that the users know that something will be rendered in the place of the placeholder.
Right now, neither the masonry header or footer gets rendered until the complete image loads and the whole screen is blank until the image loads.

[2017-10-14 17:31] brh55 commented on #62
@srameshr I see your point. Hoping there is away we can probably get it to smoothen out the transition between loading the images and the cards.

[2017-10-15 07:33] srameshr commented on #62
I think it would be ok even if it flashes. Since we have no idea about the size of the image before rendering it, we would have to most likely go with the fixed height placeholder. As and when the image is downloaded and the size and column is calculated, we should go ahead and insert it into the corresponding card. As the fixed placeholder height will be most probably be different the column will

[2017-10-17 01:34] vvavepacket commented on #55
I encounter this issue on iOS and android as well

[2017-10-17 01:36] vvavepacket commented on #41
hi guys do we have any temporary fixes for this? im encountering the same issue, the settimeout works sometimes but not always

[2017-10-17 01:59] vvavepacket commented on #41
@srameshr  do u encounter this issue on both android and ios?

[2017-10-19 14:29] srameshr commented on #62
@brh55

[2017-10-19 18:59] brh55 commented on #62
@srameshr  sorry I'll be out for a week on vaycay. shall be back in business on the 30th.

[2017-10-24 03:01] meiqi1992 opened #63 "use customImageComponent， no show images？run example"
run example ，

![Uploading 5186E29CB9CF8BEC06CFC493083F1A60.png…]()

use customImageComponent， no show images？but have red border

[2017-10-30 16:55] brh55 commented on #63
make sure to restart bundler, and rebuild.

[2017-10-31 14:39] glur4k commented on #59
So how would you do that?

[2017-10-31 17:32] brh55 commented on #59
As long as it's columns without images, you would just use flexbox as intended. @glur4k

[2017-11-01 22:56] glur4k commented on #59
Thanks for your reply but unfortunately its still not working...

My Code looks like this:
[code]

whereas it renders like this:
![masonry](https://user-images.githubusercontent.com/3889326/32301774-9e052a48-bf5f-11e7-855a-b9bcc01289d8.png)

which is obviously not masonry-ish (the order is correct tho)?

[2017-11-02 21:30] brh55 commented on #59
@glur4k Right on track, the last thing you need is each column needs to be it's own view (set to it's respectable width) containing the list of cards. This avoids the limitations on heights being stretched out to match it's accommodating row. Hopefully that makes sense

[2017-11-03 10:07] glur4k commented on #59
@brh55 Yeah but this would require a measurement of the cards height to determine in which column it should render. But since the height of a card is dynamic, I wound have to render all cards to determine their  height with the onLayout function. And when this is done, everything would have to be re-rendered in the correct column.

Is this correct?

[2017-11-03 19:03] brh55 commented on #59
@glur4k Yes if you are trying to have even looking columns. Unless order matters then you wouldn't need to do this.

[2017-11-03 19:39] glur4k commented on #59
@brh55 I don't exacly know what you mean. Could you provide a code example showing how to achieve what you mean? I would really appreciate this!

[2017-11-05 02:14] #63 closed

[2017-11-08 18:05] srameshr commented on #61
I cross verified it and its working on ```0.4.4``` of masonry.

[2017-11-08 18:05] srameshr commented on #41
```0.4.4``` fixes this.

[2017-11-08 18:05] #41 closed

[2017-11-08 18:06] brh55 commented on #61
@srameshr ! Glad this solves it! 👯‍♂️

[2017-11-08 18:06] #61 closed

[2017-11-08 18:06] srameshr commented on #55
@priyankverma @vvavepacket I tried it with ```0.4.4``` and it works fine.

[2017-11-08 18:14] brh55 commented on #55
The newest version should fix this issue now, if not please update react-navigation and seeing if that fixes it before re-opening a new issue 😄

[2017-11-08 18:14] #55 closed

[2017-11-08 18:16] srameshr commented on #55
@brh55 It's ```react-native-navigation``` I have not tried ```react-navigation```

[2017-11-08 18:36] brh55 commented on #35
`v0.4.4` should resolve these issues now, also update react-navigation.

[2017-11-08 18:36] #35 closed

[2017-11-08 20:30] brh55 commented on #55
@srameshr Ahh I see, I have not messed with R-N-N before.

[2017-11-12 11:55] srameshr commented on #32
@brh55 so infinite loading is a feature that lot of people are waiting for. ```FlatList``` provides it out of the box since it inherits ```ScrollView``` props.

So, until the ```ListView``` remains in ```Masonry.js```, I dont think there is any way to provide this feature.

[2017-11-13 08:37] nguyenquangtrung opened #66 "When i refesh but it not show view"
When I run react-native run-android view show colum left and right .but when i click R +R refesh It just show view column Left or column right not show together

[2017-11-13 18:13] brh55 commented on #66
@nguyenquangtrung what version are you on?

[2017-11-13 18:34] brh55 commented on #32
@srameshr I feel you, give me some time to think about a good way to implement this. I have two possible ways, but unsure of the potential and can foresee a lot of potential bugs arrising

[2017-11-13 18:37] brh55 opened #67 "Update example gif in readme"
The new example contains some new features. It would be great to update this example with a new gif recording.

Steps:
1. Run example gif
2. Record Gif (recommend using record.it)
    - Ensure gif shows column changing, and pushing new data 👍

[2017-11-14 03:31] nguyenquangtrung commented on #66
I use react-native 0.49
"dependencies": {
		"data.task": "^3.1.1",
		"lodash.differenceby": "^4.8.0",
		"lodash.isequal": "^4.5.0",
		"opencollective": "^1.0.3",
		"prop-types": "^15.5.8",
		"react-native-injectable-component": "^0.1.2",
		"react": "16.0.0",
		"react-native": "0.50.3",
		"react-native-masonry": "^0.4.4",
		"react-native-vector-icons": "^4.4.2"
	},
	"peerDependencies": {
		"react":

[2017-11-14 18:11] brh55 commented on #66
@nguyenquangtrung Can you add screenshot and code  (or is this example?)

[2017-11-15 02:49] nguyenquangtrung commented on #66
yes,when I run react-native run-android it as image
​and when i click R+R refesh it as image
​Please see your help!

2017-11-15 1:11 GMT+07:00 Brandon Him <notifications@github.com>:

[2017-11-19 00:19] mohammedpascal opened #68 "Adding onPress support for header and footer"
Hi, thanks for the awesome component!

I am working on a project and I want to be able to press on footer as well, but when I add onPress to the footer doesn't work for some reason, can you please help?

[2017-11-22 13:21] brh55 commented on #68
@mohammedpascal
Hmm I don't see why it wouldn't work considering the footer and headers render verbatim, what is your existing mark up?

[2017-12-08 08:17] Lesliesibbs opened #69 "Can this render video?"
i wanted to load videos form server and was wondering if the layout would be able to handle it?

[2017-12-13 22:51] brh55 commented on #69
Hey @Lesliesibbs

Currently react-native-masonry does not allow video, it would be interesting to do a fork to allow this.

However, I may consider stripping the logic into it's own core module, which would let devs create their own layouts with provided width constraints passed to their renderer, while keeping this for convenience purposes. But unsure if this is what people are looking though.

[2017-12-14 03:48] Lesliesibbs commented on #69
i certainly would welcome it as a core module and a quick google search on this topic suggests others might be interested too (https://www.youtube.com/watch?v=JxnVjobYTJQ) views alone would suggest.

[2017-12-19 17:34] vvavepacket commented on #32
How are we guys 👍

[2017-12-19 23:08] vvavepacket commented on #55
Hi, I have updated to 0.4.4, but still I could see missing images. I am also not using react-native-navigation

![image](https://user-images.githubusercontent.com/8295642/34183204-95b53664-e4e7-11e7-96ec-f2142a4efe64.png)

[2017-12-20 08:28] vvavepacket opened #70 "Image rendering is broken"
Hi,

I tried 0.4.4 release, but noticed that the rendering is still broken. I am loading my images via the internet (not local images). Could this be the reason?

![image](https://user-images.githubusercontent.com/8295642/34197764-dee293e2-e535-11e7-8a16-66088e1b2c4d.png)

[2017-12-20 20:25] Gerharddc commented on #55
I am still getting this with 0.4.4 and the latest react-navigation.

[2017-12-20 20:33] vvavepacket commented on #55
@Gerharddc  are your images local or fetching from the internet?

[2017-12-20 20:41] Gerharddc commented on #55
@vvavepacket I am using internet images

[2017-12-21 02:47] brh55 commented on #70
Can you let me know which version of React + RN are you on? I'm not sure if it's an update with RN or not

[2017-12-21 03:02] vvavepacket commented on #70
Here are my react versions

    "react": "16.0.0-alpha.12",
    "react-native": "0.45.1",

[2017-12-21 05:02] Gerharddc commented on #55
If it makes a difference, the masonry component is inside a tab.

[2017-12-21 18:02] brh55 commented on #55
@Gerharddc which version of RN, React, and which navigator are you using.

[2017-12-21 18:17] Gerharddc commented on #55
@brh55  I have RN 0.51.0, React 16.0.0 and react-navigation 1.0.0-beta.22

[2017-12-22 19:41] jozekcore commented on #70
i have the same problem, help please

[2017-12-25 14:52] vvavepacket commented on #70
@brh55  let us know if you need any information or anything we can provide you. thank you

[2017-12-25 19:19] brh55 commented on #70
If someone can replicate a basic repo, it would be easier to debug the root issue of this problem.

[2017-12-28 12:32] mckrava commented on #70
Have the same issue with next settings:
`"react": "^16.1.1"`
 `"react-native": "v0.49.3 "`

[2017-12-28 13:31] mckrava commented on #70
As a fast dirty solution I refresh the component after images have been loaded. I do it by settings columns to `this.state.column = 1` in `constructor()` and calling setState({column: 2}) after a timeout in `ComponentDidMount`.  But it's a madness. Please, fix.

[2017-12-28 22:42] vvavepacket commented on #70
@brh55 Where can I send my private repo? Thank you.

[2017-12-29 02:44] vvavepacket commented on #70
@brh55

Below is youtube video. I have applied mckrava trick. Here, we can notice that when the react native component is re rendered again (clicking back to the previous screen), the images are messed up.

[YouTube bug video](https://www.youtube.com/watch?v=CqLQGbqZwpU)

Below is zipped source code:

[Source code](https://drive.google.com/open?id=1fQg2s4RJQDCbRXKVH9tKiA7EBUzTQ2jn)

Please kindly

[2017-12-29 08:09] mckrava commented on #70
@vvavepacket Strangely, in my case all images render properly after any number of reloads.

Here is my [code](https://drive.google.com/file/d/1IuvE3ojg1t37duEBIrlS2Jwe2c4q9P1A/view?usp=sharing)

[2017-12-29 18:35] vvavepacket commented on #70
@mckrava  I see

@brh55

I found some obervation. it seems the image is broken if masonry detectes the internet image has been cache.. Now, when i try to append the end of the image URI with a random number such as this

`var img =  'https://i.imgur.com/zYwYIt1.png' + '?' + new Date().getTime(),`

The rendering is fine,, except that due to the image URI being different, it fetches it always thus i

[2017-12-31 03:49] brh55 commented on #70
@vvavepacket
I'm not sure if you are using the repo provided for your current source, but I've noticed multiple instances where you are changing state between different component stages, which is probably causing the issues with RN-Masonry.

In your current components:
[code]
In this case you'll want to set the state within the class `constructor` like such:

[code]
Hence, why we are seeing some w

[2017-12-31 17:52] vvavepacket commented on #70
@brh55

Thanks for the explanation, will try your changes.

Is there any way to remove/reset the caching used by Masonry (when going back/forth/reload screens)?

[2017-12-31 18:33] vvavepacket opened #71 "Images rendered have a bias on the left side"
## Expected Behavior

I expect Masonry to balance the images loaded on the screen. Balance means equal height on all columns.

## Current Behavior

For every Masonry component rendered, I observed a bias toward the first column. It tends to load most of the images on the left side/1st column.

## Possible Solution

Maybe do some calculation for final rendering to balance the images so that it does

[2017-12-31 20:37] vvavepacket commented on #70
@brh55

Fantastic. I tried your solution and it resolves the 2 or 3 columns issue. Regarding the caching, I noticed that if an internet image is already fetched by Masonry, when attempting to render it again by either backing or entering the screen, the layout is broken.

But when we use a different image URL usually by appending a random number after the URL (e.g. http://yahoo.com/logo.jpg?437437

[2018-01-02 18:19] CarlosArango commented on #70
im having the same problem
react-native-cli: 2.0.1
react-native: 0.51.0

it has ocurred the same, the first time render all images, but  when change the view and comeback the images don't render

[2018-01-02 21:54] vvavepacket commented on #70
Are you using internet images? What happens if you will append some random string after image link so that it will not be cached?

Sent via the Samsung GALAXY S®4, an AT&T 4G LTE smartphone

<div>-------- Original message --------</div><div>From: CarlosArango <notifications@github.com> </div><div>Date:01/02/2018  1:19 PM  (GMT-05:00) </div><div>To: brh55/react-native-masonry <react-native-masonry@

[2018-01-02 22:41] CarlosArango commented on #70
@vvavepacket
when i add a random string after image link, it is duplicated
<img width="578" alt="captura de pantalla 2018-01-02 a la s 5 40 19 p m" src="https://user-images.githubusercontent.com/4949126/34502962-136e1b1e-efe4-11e7-9527-c0d5e5763c9c.png">

[2018-01-04 03:59] kkotkkio opened #72 "How do I set space between columns?"
[code]

It's correct. Thank you for good component.

But, I would like to set space between left column and right column.

Is it possible?

[2018-01-04 13:28] Chaimae123 commented on #59
did you find a solution to your problem ? I am facing the same issue !

[2018-01-04 18:04] brh55 commented on #59
I'm trying to split the core column logic into it's own for more general use cases such as video and custom views. It will be a bit of time as I figure out how to integrate it back into this as well.

[2018-01-04 18:06] brh55 commented on #72
@kkotkkio hey there, use the spacing property.
[code]

This is a multiplier that equals = 1% of existing space * spacing number.

[2018-01-04 18:08] brh55 commented on #70
@vvavepacket Could you remove LOC 62 - 77 from Masonry.js within your `node_modules/react-native-masonry` and see if this fixes your issue. I'm nearly certain I just need to re-write the caching portion. It uses URI as a means of checking if it needs to re-download + resize images.

[2018-01-05 04:13] #72 closed

[2018-01-05 05:10] kkotkkio opened #73 "Some images are not showing in Android."
I ran iPhone on simulator, It is well like this.

<img width="317" alt="2018-01-05 1 56 05" src="https://user-images.githubusercontent.com/23737489/34596120-99150d98-f220-11e7-82ea-9ebdc3b36165.png">

But when i ran android device, It is not working like this.

![kakaotalk_2018-01-05-14-00-45_photo_5](https://user-images.githubusercontent.com/23737489/34596155-e0ddcb88-f220-11e7-8506-26e0c7fdb681.

[2018-01-05 16:42] brh55 commented on #73
Any logs?
Some possibilities are:
- large files (recommend 300kb or less)
- currently a caching issue that I need to fix, if you return to an existing view and your view isn't re-rendered, you'll notice incorrect loading

[2018-01-05 16:45] brh55 commented on #71
It's currently by design, if you have the sorted property, it will load per order. If it's not on, then it's just loading columns as first come first serve. Doesn't take account for any heights

[2018-01-05 16:54] vvavepacket commented on #71
Is there any hack or trick to remove bias?

On Jan 5, 2018 11:45, "Brandon Him" <notifications@github.com> wrote:

[2018-01-05 17:16] brh55 commented on #68
@mohammedpascal hopefully you figured this out, will close :)

[2018-01-05 17:16] #68 closed

[2018-01-05 17:20] brh55 commented on #71
Not from a user's perspective. Within the codebase, you could put together something that updates the an aggregate of each column height per an image, and inserts it accordingly.

[2018-01-05 18:01] brh55 commented on #70
Closing, added new caching logic in place that should be optimized for existing data, and fix any issues with view changes. Please note, if you are experiencing flickering between columns counts, please check implementation of parent component to ensure masonry isn't being loaded with different initial columns, and switching to other columns.

[2018-01-05 18:01] #70 closed

[2018-01-05 18:05] brh55 commented on #73
Pull v0.4.5 to see if there maybe issues tied to the second bullet.

[2018-01-05 18:06] brh55 commented on #66
Please pull v0.4.5 and let me know if this fixes that issue. It's most likely implementation details that may be wrong.

[2018-01-05 18:06] #66 closed

[2018-01-06 19:32] vvavepacket commented on #70
@brh55

I just pulled 0.4.5 and can say the caching issue is still there (I removed my URI image randomizer). I assume removing LOC 62-77 is the same as 0.4.5?

[2018-01-06 19:39] vvavepacket commented on #70
How do we reopen this issue? Thank you.

[2018-01-07 17:55] brh55 commented on #70
@vvavepacket There shouldn't be any issues at this point, most of the caching logic has been completely removed *(relying on default caching mechanism provided by Image)* with the only exception of processing the difference of blocks when you have the same column count.

I would suspect some issues with the parent component implementation. Could you provide your latest code?

[2018-01-08 03:29] vvavepacket commented on #70
@brh55

[YouTube video detailing caching issue in latest 0.4.5](https://youtu.be/0MyOMo0bEz4)

[Source Code](https://drive.google.com/file/d/1rBXox-mcxBXm3I-kRTaYIKVZeyi-lvab/view?usp=sharing)

[2018-01-08 12:43] kkotkkio commented on #73
@brh55 Thank you for answer.

I checked the volume of image files that I download.
But all of images 300kb less (50kb, 30kb, 90kb ..)
And I tried to change images on the left to correct image (same image on the right image).
But it's not solved. It's display same.

And I saw log but no error, no warning.
So, I tried 'npm uninstall' and 'npm reinstall' like below.

It's displayed [server error] but

[2018-01-09 13:11] brh55 commented on #70
@vvavepacket I'm thinking since it's nested within a navigator, it may have to do with something ListView not being rerender upon entering because it's already recognized as being loaded with that exact same dataset. Can you try changing in `Masonry` line 20.

`const containMatchingUris = (r1, r2) => isEqual(r1.map(brick => brick.uri), r2.map(brick => brick.uri));`

to

`const containMatchingUris

[2018-01-09 14:02] vvavepacket commented on #70
Here is the result. I think we are close to solving this.

https://youtu.be/pDIXj2Gxv3g

It helps, but we can still see when the user goes back the rendering is
broken initially yet the screen fixes itself immediately. How can we fix
that part?

On Jan 9, 2018 08:11, "Brandon Him" <notifications@github.com> wrote:

[2018-01-15 07:35] kkotkkio commented on #73
Other issues are sovled but the left images still be not showing in Android.

[2018-01-15 11:36] kkotkkio commented on #73
And I've another test.

All Images are same below.

![26857540_1751798751517746_717592552_n](https://user-images.githubusercontent.com/23737489/34940611-89ee1952-fa33-11e7-9781-14516a2251f8.png)

But the left images still be not showing... Just left images..

All Images are 100kb, width: 500px.
This component version. ^0.4.5

[2018-01-20 01:42] vvavepacket commented on #70
@brh55

I tried changeing the above containMatchingUris and below is the result. We can see that the image is broken at first, and then it suddenly fixes itself. Do you have any idea how to fix this? **remove the broken rendering at first glance?**

[First render bug](https://www.youtube.com/watch?v=HAsbCAIPfQQ)

[2018-01-22 01:12] brh55 commented on #70
@vvavepacket

I think the issue stems from the initial state rendering without any parent dimensions, but it fixes itself when the `state.dimensions.width` updated.

Can you can set the masonry's component `dimension.width` properties with your screens width, and see if that fixes the flashing of the rendering. If this is the case, we can come up with some ways to cover up the issue.

`Masonry.js`

[2018-01-25 04:25] hoscarcito opened #75 "Passing key to CustomImageComponent"
## Expected Behavior
The CustomImageComponent should receive a key from the array

## Current Behavior
If I try to access the props in the custom component the key prop is empty (undefined).

BTW I found that in Brick.js the brick component uses a brickKey prop for the view that doesn't exists.

## Possible Solution

## Steps to Reproduce
[code]

## Context (Environment)

We are using carousel com

[2018-01-25 07:31] hoscarcito commented on #70
I'm facing the same, but removing the function in `containMatchingUris` it started working as expected. Before that, sometimes the some images didn't showed up, or in a three columns layout there were just two or one columns with its images and the correspondent width, I mean 1/2 or 1/3 the screen width, respectively.
Is it possible to make some property to enable or disable the cache in the meant

[2018-01-25 19:34] brh55 commented on #75
Have you tried passing it through masonry with the `customImageProps` property?

Example:
[code]

[2018-01-25 19:40] brh55 commented on #75
Sorry, I see that you are trying to pass it through the dataset.

[2018-01-28 19:09] brh55 commented on #71
@vvavepacket

Currently have a working implementation within the `priority-option` branch. But looking to improve on its implementation and test it more thoroughly. Feel free to test it out by setting the priority attribute to "balance",`priority={'balance'}`.

[2018-01-29 01:17] hoscarcito commented on #75
Exactly.. We don't need an id, it will work with just the position on the array. Is it possible to have as a prop?

[2018-02-04 03:37] barron9 opened #77 "fetch and show bricks as this.state.bricks"
my current code is this but it can doesnt show any photos after fetch
[code]

[2018-02-06 01:07] brh55 commented on #77
@barron9 Code looks fine to me, it should be working as intended. Any logs or anything?

[2018-02-12 04:47] hoscarcito commented on #70
Hi again!
Is there any progress here? I don't know how I can help but I can test, check, etc.
Thanks!

[2018-02-12 20:33] brh55 commented on #70
@hoscarcito I was trying to figure out the main root issue **(view related v.s. state related)** without having to remove the diff checker. Would you be able to try the `fix-reload` branch and see if this eliminates the bug?

[2018-02-14 11:18] vvavepacket commented on #32
@brh55  let us know if u need to test out your idea :) we are ready testers any time :) , this feature looks promising and is in great need and will make plugin more awesome

[2018-02-16 20:21] alpamys-qanybet commented on #71
here what I have done, just downloaded the source code and use it instead of package.
and in Masonry.js

[code]
I found out that during initialization it renders in a normal way, but caching makes it not work on Android, so I just tested to disable cache and it works.

[2018-02-16 20:22] alpamys-qanybet commented on #73
@kkotkkio, @brh55
here what I have done, just downloaded the source code and use it instead of package.
and in Masonry.js

[code]
I found out that during initialization it renders in a normal way, but caching makes it not work on Android, so I just tested to disable cache and it works.

[2018-02-16 21:32] brh55 commented on #73
@alpamys-qanybet

Can you try the `fix-reload` branch and see if the fix is related to caching or with clipped view.

If the `fix-reload` branch is not working, then I can safely assume it's due to the component not reloading within a navigator.

[2018-03-02 19:47] QQizi opened #78 "Updating datas doesn't work"
I couldn't find a way to update the data (`bricks`).
Even if i empty the `bricks` array nothing changes.

When the state is changed i sometimes encounter this message :

```Encountered two children with the same key```

Even tho the data doesn't contain any child with the same key

[2018-03-07 03:03] margox opened #79 "Add Header/Footer component for the list."
Is there any way to add a header or footer for the list? not for the image item. just like the ListHeaderComponent/ListFooterComponent prop of FlatList component.

[2018-03-08 05:33] brh55 commented on #79
@margox Not currently, but it would not be too hard to implement. How would you imagine the prop to look like for passing this into the masonry?

[2018-03-17 03:20] kevinscience opened #80 "Place Header/Footer on the Image, not above and beneath."
Love react-native-masonry? Please consider supporting our collective:
👉  https://opencollective.com/react-native-masonry/donate

Is there a way to place the Header/Footer on the image? It would be more stylish. Thank you!
![snapchatdiscover](https://user-images.githubusercontent.com/19722517/37551144-972b54ce-2970-11e8-8ab6-f048a48184e4.png)

[2018-03-17 04:48] kevinscience commented on #80
Actually, I got it. By setting position of header/footer to 'absolute'.

[2018-03-17 07:01] kevinscience commented on #73
On Android, it only shows pics of one side, sometimes left, sometimes right. How do we fix it?

[2018-03-18 18:13] ccavess commented on #78
I have the same, where my bricks are based on state, and even though I empty the state data [], bricks are not cleared.

[2018-03-19 00:04] vvavepacket commented on #78
i think updating data on runtime is not supported.

[2018-03-19 01:10] brh55 commented on #80
@kevinscience Yes that would be purely style driven, using position absolute would be the best way to go about this.

[2018-03-19 01:10] #80 closed

[2018-03-19 01:14] brh55 commented on #78
@QQizi
This should be working again as of v0.4.5. The only exception is when the data contains the same URIs.

[2018-03-19 13:37] vvavepacket opened #81 "Duplicate images loaded"
Version: 0.4.5

## Expected Behavior

Images should be unique, no duplicate images should appear

## Current Behavior

Currently, my bricks data only contains 2 unique images. I first initialize the bricks data to be an empty array, and then in the componentDidMount, I put 2 elements inside the array

[code]

[code]

![image](https://user-images.githubusercontent.com/8295642/37598568-f095cdc0-2b58

[2018-03-20 02:06] vvavepacket commented on #55
@Gerharddc

Were you able to solve your problem? I am encountering the same thing when masonry is inside a tab

[2018-03-20 09:30] QQizi commented on #78
@brh55 just installed 0.4.6, still doesn't work.
My component :

[code]

[2018-03-20 18:17] brh55 commented on #78
@QQizi

There shouldn't be any problems with the component itself as it's doing a comparison against prop changes, which should occur during every state change.

Can you provide entire code of parent component?

[2018-03-21 10:36] QQizi commented on #78
Here's basicly what i do. I'm using this plugin to display GIPHY GIF.
I have a text input to search for new GIF and display them into the masonry but the first one displayed (the trending GIF) do not disapear.

[code]

[2018-03-21 15:27] QQizi commented on #78
@brh55 just did some debuging.

When i send new data, in the `dataSource` state, `dataSource._dataBlob` contain the old data AND the new one.

Basicly, my first content is 5 GIFS, the second is 6 GIFS. When i update my state, the `dataSource._dataBlob` contain 5+6 object

[2018-03-21 15:33] QQizi commented on #78
@brh55 i just resolve the issue.

in `resolveBricks()` at the begining i did :

[code]

[2018-03-21 15:39] vvavepacket commented on #78
Hi,

Can you provide a detailed solution and changes requirer? I was
encountering the same scenario. Thank you

On Wed, Mar 21, 2018, 11:33 QQizi <notifications@github.com> wrote:

[2018-03-21 15:51] QQizi commented on #78
@vvavepacket just created a pull request : https://github.com/brh55/react-native-masonry/pull/82

[2018-03-21 19:09] brh55 commented on #78
@QQizi
I would recommend moving your api calls into `componentDidMount`, this article will explain why it's a preferred area for async calls:

https://daveceddia.com/where-fetch-data-componentwillmount-vs-componentdidmount/

Also, the PR quickly solves the problem, but it removes any of the optimization logic for pre-existing data. However, after some investigation I realize that we don't have a c

[2018-03-21 19:19] QQizi commented on #78
@brh55
Thx for your advice i’ll look at it !

My problem doesn’t appear only with an empty array. Even when I load new gifs and send a brand new array, the output is the old ones AND the new ones

[2018-03-26 10:26] justinsayone commented on #81
I'm having this issue too.

[2018-03-26 18:27] davidsamacoits commented on #32
Hey guys! Any news about the infinite loading/scroll feature? Is it working now?

[2018-03-26 20:28] vvavepacket commented on #32
+1

On Mon, Mar 26, 2018, 14:27 David <notifications@github.com> wrote:

[2018-03-28 03:29] hiwijaya commented on #73
react-native-masonry using resizeMethod: 'auto' in Brick.js, you can try to change this property to resizeMethod: 'resize'

[2018-03-28 23:58] brh55 commented on #81
@vvavepacket Just ran the exact code within the example repo, no issues on duplications. From the looks of the warning notifications it appears the parent component maybe rendering multiple times, which would make me believe there is some configuration issues with the navigators or tabs.

Maybe want to console within the components and react-native-masonry to make sure nothing funky is going on.

[2018-03-28 23:59] #77 closed

[2018-03-31 09:19] adieunix commented on #32
+1

[2018-03-31 20:20] brh55 commented on #32
@davidsamacoits @vvavepacket Sorry ya'll been extremely busy at work and have had to put off a lot of OSS activities. So I'm definitely looking for co-maintainers, open for PR's and we can put together an implementation on this.

[2018-04-06 06:32] hoscarcito commented on #70
It's been a long time, sorry! I used the fix in containMatchingUris and I didn't care about the performance.
I've updated the app, I'll test it!
Thanks for your effort!

[2018-04-07 20:37] SABRYX opened #84 "How to navigate from one of the bricks using this.props.navigation"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce

## Context (Environment)

## Detailed Description

## Possible Implementation

[2018-04-08 14:41] mzgnr opened #85 "Only one row appearing on iPhone X"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce

## Context (Environment)

## Detailed Description

## Possible Implementation

Only one row appearing on iPhone X

[2018-04-08 14:58] #85 closed

[2018-04-09 20:14] brh55 commented on #71
Will be included in v0.5.0.

[2018-04-09 20:14] #71 closed

[2018-04-10 00:13] SABRYX commented on #84
@brh55  thanks for the response  i'll try it

[2018-04-16 12:24] mpyw commented on #81
Confirmed on React Native v0.54.

@brh55  Why don't you test on recent react-native versions?

[2018-04-24 04:53] hoscarcito commented on #70
Hi @brh55 ! I implemented your modifications but nothing changed.
This are the only different lines I found in that branch

          scrollRenderAheadDistance={100}
          removeClippedSubviews={false}

If that's correct, nothing happens, I'm still having the problem.
Sorry! 😞

[2018-04-24 07:10] brh55 commented on #70
@hoscarcito Appreciate the testing efforts that confirms my assumption with it being an isolated issue with the caching logic. Fortunately, most of these issues are resolved in the upcoming version v0.5.0. Just been having build issues with updating the example to the latest RN that's been forcing me to push back the release date.

[2018-04-27 08:26] jacktator commented on #41
Experiencing the same issue with 0.4.7, wrapped in NativeBase 'Content' component.

[2018-04-27 17:52] brh55 commented on #41
@jacktator Are you experiencing uneven layouts? If so the current release of masonry only places them where they are initially assigned prior to resolving dimensions. This feature of best effort equally distributed layouts is available in the branch v0.5.0 but it not all additional planned updates have been finished so I haven't released it yet. Feel free to try and test and provide feedback.

[2018-06-04 12:06] lc3t35 commented on #85
![capture d ecran 2018-06-04 a 14 03 08](https://user-images.githubusercontent.com/921372/40916459-172b7884-6800-11e8-8d6f-0fc6ab737cd7.png)

I have this too along with https://github.com/brh55/react-native-masonry/issues/81.
react-native@0.55.2 (expo sdk 27), react@16.3.1

[2018-06-04 12:33] lc3t35 commented on #81
Hi, is 0.5.0 branch valid enough for using it / merging soon in master ?

[2018-06-04 18:30] brh55 commented on #81
@lc3t35  It is valid enough, I just been a bit busy with a start up to add some additional features I've been wanting to include with the release.

[2018-06-08 21:00] quasimodo1660 commented on #81
I'm having this issue too.

[2018-06-10 10:01] ahmedjamshed commented on #81
@brh55 when are you planning to merge version 0.5.0 in master. I am having duplicate images issue, single column render issue when images are cached (only first time works as expected) and sometimes images are left biased. Can you present some solution for now?

[2018-06-10 21:55] brh55 commented on #81
Just published current state of v0.5.0 as an alpha prerelease (v0.5.0-alpha.1). I haven't properly tested this, so feel free to test this and report any issues.

An npm install should default to this pre-release.

[2018-06-12 09:16] ahmedjamshed commented on #81
@brh55 Duplicate image issue has been resolved on my side, but other two issues still persist. Although, single column render issue is not consistent on ios but consistent on android. I am attaching an image as a reference. Is there any quick fix for this?
![screen shot 2018-06-12 at 2 14 29 am](https://user-images.githubusercontent.com/23229626/41281508-6c53a854-6de6-11e8-9a50-0ba9bac4e9c8.png)

[2018-06-12 17:31] brh55 commented on #81
@ahmedjamshed let's move this to a new thread for v0.5.0

[2018-06-12 17:34] brh55 opened #88 "v0.5.0 Release Candidate"
**Current Release:** v0.5.0-alpha.1
## Tasks
- [x] Add priority arrangement (#5)
- [x] Fix duplicated images  (#81, #41, #61)
- [x] Add Lazy Loading (#87)
- [ ] Finish testing
- [ ] Update documentation
## Bugs
Please post any bugs and issues on here

[2018-06-12 17:47] ahmedjamshed commented on #88
Duplicate image issue has been resolved in v0.5.0, but other two issues still persist. Although, single column render issue is not consistent on ios but it is consistent on android. I am attaching an image as a reference. Is there any quick fix for this? and the second issue is left biased render as you can see in ios simulator.

<img width="698" alt="41281508-6c53a854-6de6-11e8-9a50-0ba9bac4e9c8"

[2018-06-12 17:47] brh55 commented on #88
@ahmedjamshed what are other to issues exactly?

[2018-06-12 17:49] quasimodo1660 commented on #81
@brh55 I fetch the data from my website api, then display them. My issue is after onPress into a details screen, the duplicate warning will appear. I am attaching some images to show the problem.
![simulator screen shot - iphone x - 2018-06-12 at 10 36 18](https://user-images.githubusercontent.com/31431266/41307524-482dac84-6e2e-11e8-8769-438bfdad3980.png)
![simulator screen shot - iphone x - 2018

[2018-06-12 17:53] ahmedjamshed commented on #88
Issues still persist are
1) left biased rendering as you can see on ios simulator
2) Single column rendering on Android and sometimes on ios as well, when images are cached

[2018-06-12 19:59] brh55 commented on #88
1. Left bias is default behavior, it will load based on what is resolved first. But with v0.5.0, not documented yet, you can use priority='balance', and it will do best effort to balance columns based on current state.

[2018-06-12 20:01] brh55 commented on #88
2. Not entirely sure, I haven't done any testing on android. I would believe it has to do with some intermediate state changes during image fetching.

[2018-06-12 21:06] brh55 commented on #81
There is a known issue if all bricks haven't resolved completely, and there is a state change, a duplicated request will be made for the bricks that have not been placed. Haven't seemed to find a good way to get around this, while preventing a full reload.

[2018-06-13 06:41] ahmedjamshed commented on #88
Can I improve that by returning false in shouldcomponentupdate until images are fully loaded? I can check that with fast image.

[2018-06-13 18:17] brh55 commented on #88
@ahmedjamshed The problem is bricks are resolved async so you'll probably run into issues there. Considering using redux to manage the async state, or migrate data.task to the new version which supports task cancellation and cancelled any unresolved bricks in component state.

[2018-06-15 16:58] #78 closed

[2018-06-20 18:04] mohsaadi commented on #35
@brh55
I have the same issue using latest version v0.5.0-alpha.1.
I've noticed when setState({column: }) is called with the current column number, i.e. calling it twice with same value, after the second call, the images will disappear.

[2018-06-21 21:34] brh55 commented on #35
@mohsaadi let's open a new issue for this, need more context and code to explain the issue

[2018-06-22 07:38] srameshr commented on #88
@brh55 Also support infinite loading

[2018-06-22 09:44] peterchibunna commented on #79
I think it'd be nice if we can have a prop of the masonry (e.g., renderHeader, renderFooter) which is passed directly to the Masonry component which would take each item as parameter and then could return a view which is positioned on top/at below, the same way you have the footer and header but just that the prop needs to be direct to the Masonry component. If you can guide us on how to do that,

[2018-06-22 09:45] peterchibunna commented on #79
I think it'd be nice if we can have a prop of the masonry (e.g., renderHeader, renderFooter) which is passed directly to the Masonry component which would take each item as parameter and then could return a view which is positioned on top/at below, the same way you have the footer and header but just that the prop needs to be direct to the Masonry component. If you can guide us on how to do that,

[2018-06-22 16:54] mohsaadi commented on #35
Thanks Brandon,
Here's a video https://drive.google.com/open?id=1mr-4Nodl1cpJbGq1uQuonEq_9DaWHp2a that shows the behavior described in my previous comment. I did nothing but replaced the "App.js" of a new react-native project with the app.js provided by the masonry's example here: "https://github.com/brh55/react-native-masonry/tree/master/example".

[2018-06-22 17:03] brh55 commented on #79
Are you referring to the top and bottom of the masonry layout itself? @peterchibunna

[2018-06-24 13:36] zamponotiropita commented on #73
I managed to solve it with @alpamys-qanybet solution.

Any plans for a clean fix for android?

[2018-06-27 13:11] davidvuong opened #89 "Images in the masonry grid are oddly rendered"
I've included some examples of what I mean below:

<img width="311" alt="screenshot 2018-06-27 22 50 46" src="https://user-images.githubusercontent.com/1312550/41975250-864419e6-7a5d-11e8-8036-a131017ff9d1.png">
<img width="309" alt="screenshot 2018-06-27 22 51 09" src="https://user-images.githubusercontent.com/1312550/41975251-868899ae-7a5d-11e8-9808-f8f8fd733711.png">
<img width="308" alt="scree

[2018-06-27 16:33] sashabratchikov commented on #88
@brh55

When I pass some navigation action as an `onPress` handler to bricks all my bricks suddenly disappear.

I think this is caused by `resolveBricks` called with an empty `bricks` array here:
https://github.com/brh55/react-native-masonry/blob/v0.5.0/components/Masonry.js#L102

In my case, the data is not changing after `onPress` so `brickDiff ` is an empty array (and `appendData` is `true`):
<

[2018-06-27 20:38] brh55 commented on #89
By default it's placing based on when the moment a image is resolved, since you are on alpha v0.5.0, you can the `priority` property and set it to 'balance'

[2018-06-28 11:36] davidvuong commented on #89
@brh55 Thanks. Using a balanced priority seemed to have helped. I'm still seeing patchy areas but they're not as bad.

[2018-07-03 11:07] davidvuong commented on #89
@brh55 Just an update: I've changed from 4 to 3 columns and set `priority` to `balanced` and I don't think this is working correctly. Initially, all 3 columns have photos but as I add more, overtime the first column grows but other two remain unchanged.

_In case this is useful at all:_ I'm now testing with about 1.3k images. This starts to happen when I insert images with differing heights. The f

[2018-07-03 13:12] davidvuong commented on #89
I wanted to see if this was still a problem when the image heights are all the same. Unfortunately it is still an issue.

![image](https://user-images.githubusercontent.com/1312550/42221641-1fce47be-7f16-11e8-9419-4c1075d8dd41.png)

[code]

[2018-07-03 18:15] brh55 commented on #89
If you have all image heights the same, you should just use a standard `flatlist`, there should be plenty of components available that will accomplished a grid effect.

The issue with masonry is it balances the grid using the component state. When each image is asynchronously resolved, it places the image within a column and then updates the state, but react `setStates` is also asynchronous and wi

[2018-07-04 23:03] #89 closed

[2018-07-09 14:02] abhinav011085 commented on #88
@brh55 I can not make it work with the latest create-react-native-app version. can you please try it with the current version and confirm?

Process i followed:-
1. npm install -g create-react-native-app
2. create-react-native-app AwesomeProject
3. cd AwesomeProject
4. npm install --save react-native-masonry
5. import Masonry from 'react-native-masonry';
6. <Masonry
  sorted // optional - Default:

[2018-07-10 07:10] kkotkkio opened #90 "how to use Masorny customImageComponent?"
I read README.md .

And I wrote below.

[code]

First, I try to use FastImage single like below.
`<FastImage>`
This work well.

But I try to use FastImage with Masonry (customImageComponent) ,
this is not showing.

I'd like to know detail how to use customImageComponent.

Needs help.

Thank you :)

[2018-07-10 08:14] kkotkkio commented on #90
I think of this problem was didn't styling so how to apply some 'style' in customImageComponent?

[2018-07-10 08:31] abhinav011085 commented on #80
@kevinscience how did you set the position of the footer to 'absolute'??

[2018-07-10 10:18] abhinav011085 commented on #32
@brh55 is this done? Eagerly waiting for this feature.

[2018-07-10 11:21] abhinav011085 opened #91 "Pull to refresh"
@brh55 can you add pull to refresh feature in this? It'll be very useful.

[2018-07-10 17:07] brh55 commented on #90
@kkotkkio I would suggest following the example, the example is using FastImage ^_^

[2018-07-10 17:09] brh55 commented on #80
@abhinav011085 It's used the same way in traditional CSS, I would suggest reading many articles on how to use `position: absolute`, but you would set `relative` to parent, then `absolute` on element (footer or header), then adjust `top` or `bottom` properties.

[2018-07-10 17:10] brh55 commented on #32
@abhinav011085 There is lazy load, it's not actually documented officially, but it's shown in the example.

[2018-07-11 07:21] #90 closed

[2018-07-16 08:51] projavascripter opened #92 "ERROR: "Object" is read-only"
https://github.com/brh55/react-native-masonry/blob/6e61c038ae9acd17e348e6022ecfa816ed5715ee/components/Masonry.js#L154

Having a trouble in playing with library. Checking the codebase, bricks should be defined as`let`.
Please check asap and update the repo.
Regards.

[2018-07-18 17:28] maboelsoud opened #93 "Masonry fails to render all columns (except the last) on reload on Android only"
## Expected Behavior

the expected behaviour should be that the masonry is rendered correctly
![image](https://user-images.githubusercontent.com/7649479/42897242-5c6d654c-8a8d-11e8-8969-5fc974254ae2.png)

## Current Behavior

when you refresh the app, the masonry fails to render all but the last column
![image](https://user-images.githubusercontent.com/7649479/42897403-ea16818a-8a8d-11e8-9967-894b

[2018-07-19 09:44] Dhanraj-bidchat commented on #93
Did you resolved it ?
I am also facing the same issue

[2018-07-24 15:29] QuentinBrosse commented on #79
@brh55 What do you think about the implementation of FlatList with `ListFooterComponent` and `ListHeaderComponent ? https://facebook.github.io/react-native/docs/flatlist#listfootercomponent

[2018-07-26 10:01] VivekNeel opened #95 "Add support for horizontal."
Hi could you please add horizontal support as well? Love this lib.

[2018-08-02 21:11] #53 closed

[2018-08-02 21:11] #75 closed

[2018-08-03 01:44] brh55 commented on #92
@projavascripter You're right that would appear to cause issues, oddly it didn't on my end. But feel free to send a PR for finding this! 👍

[2018-08-03 01:49] brh55 commented on #79
@QuentinBrosse Rather an odd use-case as each column is a `FlatList`, but I can understand if a user wants to generate a column header of some sort.

...However, the API would need to be pretty simple to correlate with the number of desired columns, or we if we are assuming users want to render a particular view dynamic column, we can pass some metadata passed into the render function (like column

[2018-08-06 20:26] novalain opened #97 "Can't call setState on an unmounted component"
Hey! It currently seems like some async operation in the component is not being properly canceled when unmounted.

## Expected Behavior
No warnings.

## Current Behavior

`Warning: Can't call setState (or forceUpdate) on an unmounted component. This is a no-op, but it indicates a memory leak in your application. To fix, cancel all subscriptions and asynchronous tasks in the componentWillUnmount me

[2018-08-06 20:57] novalain commented on #93
Any progress on this? Having troubles with this issue as well

[2018-08-22 11:14] mckmarc commented on #92
I copied the full page of example and response is "bricks" is read-only.

The data is defined with let...

[code]

[2018-08-22 11:17] mckmarc commented on #92
I had the same problem, it would be nice to have it updated....

thanks

[2018-08-22 11:42] mckmarc commented on #73
I'm in the same situation as @zamponotiropita...

Please, any clean fix?

[2018-09-07 08:40] vijaychouhan-rails commented on #93
temporary solution

[code]

[2018-09-13 08:52] brh55 commented on #92
👍 merged, thanks for catching that.

[2018-09-13 08:52] #92 closed

[2018-09-15 08:09] anehkumar opened #99 "onEndReached is not working"
Hi I add your plugin in my project it was working fine but when I try to add **onEndReached** **onEndReachedThreshold** was not working can you please tell me how we can load data on scroll.

Thanks

[2018-09-25 02:06] brh55 commented on #99
Hey @anehkumar, see if this example helps: https://github.com/brh55/react-native-masonry/blob/v0.5.0/example/App/Container/app.js

[2018-10-02 07:51] chismadalina commented on #62
Any updates on this?

[2018-10-03 21:41] #99 closed

[2018-10-03 21:45] brh55 commented on #62
This can be done, but my only concern is it may lead to a rather awkward UI experience because we don't know the dimensions until the image has loaded.

[2018-10-15 16:38] #95 closed

[2018-10-15 16:42] #84 closed

[2018-10-15 16:43] #5 closed

[2018-11-06 14:32] MaxInMoon opened #101 "Any drag and drop / sortable implementation possible?"
Hi, I'm wondering if someone has ever implement a masonry drag and drop / sortable feature, or has some informations. Thank you in advance.

[2018-11-26 08:57] logicallyDimp opened #102 "Add TouchableOpacity support"
Is this possible?
just so you can see if you press the item.

[2018-11-28 19:07] brh55 commented on #102
You can on the image itself, but not on the overall element. Would need to write some additional code to handle this.

[2018-11-29 16:11] chienvu123 opened #103 "the masonry view is blank when i add data to state.data"
i use Example at lib, when i click push new data, view is removed

anyone help me, please!

---------
i use version 0.5.0

[2018-12-02 13:40] lc3t35 commented on #88
Hi, any plan to releasing this new version ?

[2018-12-07 16:18] trungnt85 commented on #103
same problem here, since I tried to load next page when grid end reached

[2018-12-10 05:13] logicallyDimp commented on #102
oh I see.. So you have to wrap your image on a custom component with TouchableOpacity..
thanks! you just gave me an idea

[2018-12-10 05:13] #102 closed

[2018-12-12 19:31] atrauzzi opened #104 "TypeScript Typings"
This is the obligatory request for an officially maintained `.d.ts` file. 😄

So many RN projects are including them nowadays, and this seems to be a fairly popular implementation of a masonry layout on RN.

[2018-12-19 21:10] DanthonyPabon commented on #103
@logicallyDimp it's not working for me
[code]

[2018-12-19 21:22] Slapbox commented on #59
@brh55 this project looks amazing. Thanks very much for sharing it.

Is there any update on use with non-images? I'd also like to render just plain views.

[2018-12-20 04:16] logicallyDimp commented on #103
have you tried doing it like this?
[code]

[2018-12-22 18:13] Jose4gg commented on #93
The same thing happens to me but @vijaychouhan-rails solutions do not work for me :/, any help?

[2019-02-01 20:39] abdul-elah-js opened #105 "Invariant Violation [923, "RCTImageView" ... ] is not usable as a native method argument"
## Expected Behavior
To Render The Masonry Images

## Current Behavior

## Possible Solution

## Steps to Reproduce

## Context (Environment)

## Detailed Description

## Possible Implementation

[2019-02-02 03:54] Lang-le commented on #105
I have same problem! >.<

[2019-02-02 10:08] abdul-elah-js commented on #105
are you using the same version of react-native ? 0.58.1 ? @Lang-le

[2019-02-02 10:11] Lang-le commented on #105
@abdul-elah-js I use React Native 0.58.3.

[2019-02-02 10:13] abdul-elah-js commented on #105
could it be because of the whole .58 version ? i read the changelog but i don't remember finding anything relevant about the `RCTImageView` 🤔, anyhow i'll try it with 0.57 version just to be sure, if you figured it out, help me out

[2019-02-04 19:00] brh55 commented on #105
@abdul-elah-js
I suspect the error has to do with the fact that your application is probably having issues getting that image as it's deriving `NaN` in it's resizing calculations -- it's supposed to log it if it receives a 400/404, so there maybe a bug there.

You might see some logs in the console, or I would try directly creating an image element with that URL and see if there are any issues wit

[2019-02-05 03:19] Lang-le commented on #105
@brh55
Yeah. So do i. But use Google logo at Google.com, so it can't be 400/404 (etc..)
Images show for the first time and i reload simulator (Command + R), then i got that error!

[2019-02-05 10:35] abdul-elah-js commented on #105
@brh55 I tried giving the image a height, width and resizeMode but still i got the same error without any logs, the weirdest thing though is this error is only triggered after running perfectly for the first time !,

[2019-02-05 10:35] abdul-elah-js commented on #105
@Lang-le I did the same 👍🏽

[2019-03-01 10:42] EdisonDevadoss commented on #105
Help me I also facing the same error.

[2019-03-02 15:46] Luehang opened #106 "Not a logical algorithm"
## Possible Implementation

The masonry's algorithm for placing each image into each columns for even distribution isn't logical and it only sorts by literally placing each image one by one in each column.

[2019-03-04 07:33] brh55 commented on #106
Hey @lautarocelerative
On v0.5.0
If you set priority to "balance" it will focus on placing into a more equally distributed layout. Some caveats are experienced during state changes in midst async calls.

[2019-03-04 07:33] #106 closed

[2019-03-04 07:41] #69 closed

[2019-03-04 07:41] #42 closed

[2019-03-04 07:42] #79 closed

[2019-03-11 10:38] Richi2293 commented on #103
same thing for me, have you solved it?

[2019-03-15 22:44] DanthonyPabon commented on #103
I don't using it

[2019-03-22 07:53] mingxin-yang opened #107 "Image failed to load"
## Expected Behavior

show the images
## Current Behavior

can't show the images
## Possible Solution

## Steps to Reproduce

I run the example in this project.
## Context (Environment)

[code]

## Detailed Description

## Possible Implementation

[2019-03-22 09:56] mingxin-yang commented on #105
I have same problem!
[code]

[2019-03-22 15:12] brh55 commented on #105
Is this android or iOS? @mingxin-yang

[2019-03-22 15:12] brh55 commented on #107
Android or iOS?

[2019-03-22 15:24] brh55 commented on #103
So I looked into this issue a while back, it really stems from an async call to load the image, but doesn't complete before the masonry view changes. This causes the masonry to run into a runtime exception and stops loading completely. If anyone wants to try to fix this to integrate cancellable async calls, this should fix the issue (almost certain).

[2019-03-25 06:12] RyanKeepRunning opened #108 "Failed prop type?"
Hi,
I got this warning while implementing a simple masonry using react-native-masonry. Did anyone encounter this warning as well? How could I fix it?

Warning: Failed prop type: Invalid prop `defaultComponent` of type `object` supplied to `Injector`, expected `function`.
    in Injector (at Brick.js:40)
    in Brick (at Column.js:112)
    in RCTView (at View.js:44)
    in CellRenderer (at Virtuali

[2019-03-25 10:40] mingxin-yang commented on #107
@brh55 Android,
![image](https://user-images.githubusercontent.com/23076937/54913311-69489d80-4f2d-11e9-991c-5fd6bd8fdd83.png)

[2019-03-26 03:20] brh55 commented on #108
Can I see how you are invoking the Masonry component, along with your dataset?

[2019-03-26 04:05] RyanKeepRunning commented on #108
Thanks for the quick response brh55,

Since I'm still working on the frontend, I simply created some fake data following the structure shown in README.

The code is as follows:

class Gallery extends Component{
    constructor(props){
        super(props);
        this.state= {
            galleryList:[]
        }
    }
    static navigationOptions = { header: null }

    async componentDidMount()

[2019-03-26 23:22] brh55 commented on #108
@RyanKeepRunning `.map` doesn't mutate the exisitng array, you'll need to set it into it's own variable, or reassign.

[code]

[2019-03-27 08:14] bamaarintoko commented on #105
this is solved? i got same error

[2019-03-27 11:53] RyanKeepRunning commented on #108
Thanks for the suggestion brh55. I did make a stupid mistake here. However, after modifying my code accordingly, I found I'm still triggering the same warning (using expo). Then I deleted almost everything to make the code exactly the same as the instruction in README, the warning still exists. Are there any problems with defaultComponent and Injector?

![image](https://user-images.githubuserconte

[2019-03-27 18:52] brh55 commented on #108
@RyanKeepRunning Yeah I figured that wouldn't fix the warning, but at least we have the masonry rendering for you.

For the warning, it seems the injector is getting complaints with the prop type, so I'll update the dependency and bump minor version.

[2019-03-27 22:33] RyanKeepRunning commented on #108
Thank you so much for your help. Looking forward to the updated version.

[2019-03-28 17:14] brh55 commented on #108
Hey @RyanKeepRunning ,

Try pulling in the latest and see if this keeps the warnings at bay.

[2019-03-29 22:48] pramodxyle commented on #107
I see the same yellow box on iOS. However, the image loads.

[2019-03-29 23:40] pramodxyle commented on #93
See the same issue on iOS. Need help ! Setting the columns to 3 and then back to 2 is not the correct way to handle this...

[2019-03-31 01:08] RyanKeepRunning commented on #108
Now I'm running my application on Android, and I got this error when I tried to run this very basic example.

![image](https://user-images.githubusercontent.com/37783403/55283323-71c92a00-53ac-11e9-9c80-e5288f22d96d.png)

`import React,{Component} from 'react';
import {
    StyleSheet,
    View,
  } from 'react-native';
import Masonry from 'react-native-masonry';

class Gallery extends Component{

[2019-03-31 01:12] RyanKeepRunning commented on #108
I also saw the same issue in other thread, does android app need extra configuration in order to use react-native-mansory?

https://github.com/brh55/react-native-masonry/issues/105

[2019-04-01 02:43] brh55 commented on #108
Sorry been trying to set up my Android environment but running through several issues that keep burning my patience. I don't get to allocate too much time on this project as I would like due to other personal constraints, but hoping we can get some contributors to help out.

[2019-04-04 20:15] ConnectedReasoning opened #110 "name is misleading this is for images only"
## Expected Behavior

It should allow for general content
## Current Behavior

renders only images
## Possible Solution

allow other html components to be displayed as bricks, change name to reflect the narrow image only scope of component.
## Steps to Reproduce
replace images in bricks with  other kinds of react components, like Text

## Context (Environment)

## Detailed Description

## Possible

[2019-04-04 21:03] brh55 commented on #110
Excellent point. This really spawned from the limitations of managing images when trying to use flexbox to create a typical masonry layout due to the fact that you need dimensions prior to perform resizing. With other elements such as text and views, a masonry layout is pretty easy to accomplish with just the use of flexbox.

[2019-04-26 06:07] brh55 commented on #105
Update, error stems from the fact that `onLayout` in the view doesn't get triggered within Android in some newer versions of React-Native.

Clearly, this is an important basis for calculating appropriate image resizing, hence the `NaN`. Messing around with potential workarounds for the time being.

[2019-05-02 13:22] hack-and-backslash commented on #105
Facing the same issue. It has to be something with cache. Coz I am not getting the error on first run or after I clear the cache. Could this be because local images (cached, that become local once cached) need height and width to be passed as props or there's no such thing?

[2019-05-02 13:35] hack-and-backslash commented on #105
I added width and height to my brick object and it seems to have fixed the issue for me.

[2019-05-02 20:54] brh55 commented on #105
@hack-and-backslash Issue comes from the fact `onLayout` (which is used to get parent dimensions of the layout) for Android is triggered after the masonry layout attempts to render. I've been trying to fix it so that an empty layout is rendered initially until `onLayout` can provide some details and then render again, but it still doesn't like that.

[2019-05-03 08:39] dragonStandard123 commented on #105
still same error

"react-native-masonry": "^0.5.0-alpha.4",
"react-native": "0.59.5",

How can I add width and height to the brick data?

[2019-05-03 14:20] hack-and-backslash commented on #105
Just like you add other stuff like uri, onPress etc.

`uri: uri,
 width: 1080,
height: 1920,
onPress: () => {}`

But again, as @brh55 says, it might result in potential funky behavior. I haven't found anything funny yet though.

[2019-05-04 01:02] brh55 commented on #105
The odd behavior is the first "brick" will render with incorrect resize dimension, but it should promptly fix itself with the correct dimensions on the second re-render. Ironically, this might be a hotfix solution by giving the parent default dimensions.

[2019-05-06 02:06] brh55 commented on #105
Yeah thought that may have worked, but causing this odd behavior:
![test](http://g.recordit.co/88zAL8UrrP.gif)

[2019-05-06 14:20] dragonStandard123 commented on #105
I tried severally, but failed.

-If I use the normal image views, the red screen is shown as followed

[code]
![Uploading Untitled1.png…]()

-When I use the FastImages, the result....
Only first time, it shows 'normally',
but on next reload, the red screen is appeared.
[code]
![Untitled](https://user-images.githubusercontent.com/45165326/57231300-de3ee500-704c-11e9-9ff1-526855336a80.png)

How can

[2019-05-15 16:55] borgogelli commented on #93
+1

[2019-05-23 00:14] pmella16 commented on #105
same error

`    "react": "16.6.3",
    "react-native": "0.58.4",`

[2019-05-28 07:18] Abdelrahman-Nabil commented on #103
I still encounter the same issue when appending new data to the list, anyone has a quick fix to it ?

[2019-05-29 03:39] hejun041 commented on #105
give the  node_modules\react-native-masonry\components\Masonry.js 's dimentsions a default value
like this:
this.state = {
			dataSource: this.ds.cloneWithRows([]),
			dimensions: { width: Dimensions.get('window').width, height: 0, gutter: Dimensions.get('window').width / 100 * this.props.spacing },
			initialOrientation: true,
			_sortedData: [],
			_resolvedData: [],
			_columnHeights: columnHei

[2019-05-30 09:17] hack-and-backslash commented on #105
@brh55 Did you try what @hejun041 said. Can this be a potential fix?

[2019-06-02 08:06] traxx10 commented on #105
This works for me

[2019-06-03 17:27] brh55 commented on #105
This does work as long as the parent element has no padding around your Masonry. I'll take this as PR fix if anyone wants to submit.

I've been struggling to come up with a clean fix to support the masonry being placed anywhere since the changes to onLoad.

[2019-06-15 13:10] phuchuynhStrong opened #116 "Priority Balance doesn't work correctly with Portrait Images"
## Expected Behavior

<img width="396" alt="E9014035-94C9-4C8D-9FF4-78C12E3AB371" src="https://user-images.githubusercontent.com/29883958/59551735-64cdd700-8fa8-11e9-986e-27f3e37ab10a.png">

## Current Behavior

![IMG_3098 PNG](https://user-images.githubusercontent.com/29883958/59551668-1d931680-8fa7-11e9-924f-2a489da6759f.png)

## Possible Solution

- In the `_insertIntoColumn` function, use scal

[2019-06-16 00:11] #67 closed

[2019-06-16 04:05] phuchuynhStrong commented on #116
Close it due to merged https://github.com/brh55/react-native-masonry/pull/115

[2019-06-16 04:05] #116 closed

[2019-06-26 08:24] tarogege opened #118 "how to set different styles for each image in bricks? (imageContainerStyle)"
i notice that when the api `imageContainerStyle` is used, the images in bricks will get same style the api defined.However what can i do when i want each image in bricks has different styles (such as different height),how can i control it?

[2019-06-27 19:25] brh55 commented on #118
The image heights are automatically determined by the image's original properties. Are you trying to add additional things on top or underneath the brick?

[2019-07-07 13:16] lc3t35 commented on #105
Same here (RN by expo sdk33 : 0.59.8 , react 16.8.3), if you can send width/height in bricks it passes the first time...

[2019-07-07 13:18] lc3t35 opened #119 "Warning:` ListView is deprecated and will be removed in a future release"
## Current Behavior
Displays a warning about ListView

[code]

## Possible Solution
 See https://fb.me/nolistview for more information

## Context (Environment)
expo sdk33 rn 0.59.8, react 16.8.3

[2019-07-16 06:30] sangeethkumarv commented on #101
Badly in need of this feature, has anyone done this?

[2019-07-18 21:33] brh55 commented on #101
Open to taking a PR on this, I just haven't had time to work on this project as I'm not using react-native often these days!

[2019-07-29 22:58] frankliuyh commented on #95
I believe VivekNeel means horizontal scrolling since it seems like we can only scroll the masonry vertically. It would be nice to also support horizontal scrolling.

[2019-08-30 16:52] erick4556 commented on #105
In my case, I had an error : "RCTView", in this line: <View style={{alignItems: 'center', position:'relative', left: (window.width/2), top:50, flexDirection: 'column'}}> in my file.
I deleted "left: (window.width/2)" and it works
I use react-native: 0.60.5
react:16.8.6
react-native-cli: 2.0.1

[2019-09-17 19:24] wikramdas opened #120 "As ListView has been deprecated from React Native but in this library still using ListView"
## Expected Behavior
ListView should be replaced by FlatList

## Current Behavior
As ListView has been removed from React Native so it is currently using ListView

## Possible Solution
ListView should be replaced by FlatList

[2019-09-17 19:24] #120 closed, assigned to nobody

[2019-09-17 19:31] wikramdas commented on #119
This is not a warning it is an error so remove it as soon as possible.

[2019-10-03 04:08] aaronwilly commented on #105
Please focuse correct id. It will work perfectly.

[2019-10-05 14:48] yogevlahyani commented on #120
+1

[2019-10-05 14:49] yogevlahyani commented on #119
+1

[2019-10-05 14:50] shachardevops commented on #119
+1. still not working

[2019-10-06 01:45] nickjuntilla commented on #105
Is there any way to fix this without modifying the package?

[2019-10-31 05:58] z1chir commented on #119
[code]

This is my temporary solution

[2019-11-23 20:42] bartzy commented on #110
@brh55 How is masonry layout with more than one column easy to accomplish with just using flexbox?

[2020-02-06 00:47] dwidc commented on #119
Following @jzyds solution, I used `patch-package` to modify `react-native-masonry` in `node_modules`. Tested seems OK so far.

In your project folder:
[code]

Add patch-package to your package.json postinstall script:
[code]

Edit `/node_modules/react-native-masonry/components/Masonry.js`.
Remove ListView from 'react-native', replace with one from deprecated-react-native-listview:
[code]

Save you

[2020-06-29 03:48] AnibalDuarte opened #123 "ListView is deprecated"
There is no more information that I can provide to explain the error, because it's pretty simple: ListView is deprecated on React-Native and this plugin isn't useable anymore.

Anyone has any solution to it?

[2020-08-19 09:24] AiTranXuan commented on #123
.

[2020-08-21 10:26] NishargShah commented on #123
@brh55 any solution??

[2020-09-07 12:25] rbecharast-chwy commented on #123
@brh55 any solution?

[2020-09-29 02:00] eddyoc commented on #123
I have forked one of @brh55's branches, flat-list-parent, and modernised the component lifecycle and merged in the master branch.

This was a quick and dirty exercise and I've not even looked at the unit tests. However this is now working swimmingly with the latest version of React.

It can be found here, hopefully this will assist in keeping this awesome component moving forwards.

[git://github.

[2020-10-04 06:53] binnicordova commented on #119
hey, I have the same problem!

[2021-01-13 14:46] mshafex commented on #123
still not fixed ?

[2021-01-14 07:03] mshafex commented on #119
Hey This solution works for the first time i use it them i have this error/Warning
![image](https://user-images.githubusercontent.com/46707426/104555921-5691e200-5647-11eb-9458-477e7c4627ab.png)

Warning: Can't perform a React state update on an unmounted component. This is a no-op, but it indicates a memory leak in your application. To fix, cancel all subscriptions and asynchronous tasks in the c

[2021-05-12 04:14] j-braun0384 commented on #123
i've installed your fork and I'm still recieving the ListView error?

[2021-06-10 07:28] irenemmassy commented on #92
Changing that to `var` or `let` it works.

[2022-01-25 01:25] Cetger commented on #123
Guys you can use ListView
in react-native-masonry/components/Masonry
`import { View, ListView, Image, Text, Dimensions } from 'react-native';
`
change with

[code]
And also you need to add this deprecated library via yarn or npm

[2022-05-30 14:31] skizzo commented on #79
Is it somehow possible to achieve what [`FlatList`](https://reactnative.dev/docs/flatlist) does with [`ListHeaderComponent`](https://reactnative.dev/docs/flatlist#listheadercomponent) and [`ListFooterComponent`](https://reactnative.dev/docs/flatlist#listfootercomponent) in 2022? If not, in my case this is a huge dealbreaker for using this otherwise great component.

[2022-06-30 19:59] brh55 commented on #79
Sorry, I haven't been really coding for quite some time. But given how much time has past, I'm sure there are some other great alternatives open-source modules out there. Happy to take any adaptions using these new components, I doubt it will be a serious lift.

I have plans on getting back into a development, once I find a company / position that brings me closer to coding again.